<!doctype html>
<html>
<head>
   <title>Detalle</title>
   <meta charset="utf-8">
   <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
   <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
   <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/css/bootstrap.min.css">
   <link rel="stylesheet" href="../css/styles.css">
</head>
<body>
   <div class="wrapper detalle">


      <div class="header">
         <nav class="navbar">
            <div class="inner-wrapper">
               <div class="row">
                  <div class="col-6 col-sm-6 col-md-3 navbar--logoBox">
                     <a href="#">
                        <span class="logo-content"><img src="../img/logo.svg" alt=""></span>
                        <p>Student <span>Dashboard</span></p>
                     </a>
                  </div>
                  <div class="col-6 col-sm-6 col-md-3 col-sm-push-6 navbar--userBox">
                     <p class="navbar--userBox-name">Nombre Apellido Nombre Apellido</p>
                     <img class="navbar--userBox-img" src="http://via.placeholder.com/45x45" alt="">
                  </div>
                  <div class="col-12 col-sm-12 col-md-6 col-sm-pull-3 navbar--searchBox">
                     <form>
                        <div class="navbar--searchBox-content">
                           <input type="text" class="nav-searchBox--input">
                           <button type="submit" class="nav-searchBox--iconSearch"><i class="material-icons">search</i></button>
                           <button type="reset" class="nav-searchBox--iconClose is--hide"><i class="material-icons">close</i></button>
                        </div>
                     </form>
                  </div>
               </div>
            </div> 
         </nav>
      </div>

      <div class="top-bar">
         <div class="inner-wrapper">
            <a href="#" class="btn-link btn-back"><i class="material-icons">arrow_drop_down</i>Back to Lectures</a>
         </div>
      </div>

      <div class="content">
         <div class="grey-box">
            <div class="courseDetail-content">
               <div class="inner-wrapper">
                  <div class="container-fluid">
                     <div class="row">
                        <div class="col-12 col-md-6 ">
                           <div class="courseDetail--video-content">
                              <a class="courseDetail--video" href="#">
                                 <span class="icon-play"><i class="material-icons">play_arrow</i></span>
                                 <img src="http://via.placeholder.com/490x326"  alt="">
                              </a>
                              <div class="courseDetail--video-bottom">
                                 <div class="courseBox--calification">
                                    <i class="material-icons start-icon--on">grade</i>
                                    <i class="material-icons start-icon--on">grade</i>
                                    <i class="material-icons start-icon--on">grade</i>
                                    <i class="material-icons start-icon--on">grade</i>
                                    <i class="material-icons start-icon--off">grade</i>
                                 </div>
                                 <a class="favorite-icon favorite-icon--selected"><i class="material-icons">favorite</i></a>
                              </div>
                           </div>
                           <div class="is--center">
                              <a href="#" class="btn-rounded">QUESTION MODE</a>
                           </div>
                        </div>

                        <div class="col-12 col-md-6">
                           <h1 class="courseDetail--title">Cataract Surgery: Uveitis</h1>
                           <h2 class="courseDetail--subtitle">Perioperative management of complex phacoemulsification</h2>
                           <p class="courseDetail--keyWords"><a href="#">veitis</a>, <a href="#">Synechiae</a>, <a href="#">Synechieolysis</a>, <a href="#">Pupillary Membrane</a>, <a href="#">Phacoemulsification</a>, <a href="#">Cataract Surgery</a>, <a href="#">Iris hooks</a>, <a href="#">Capsular Tension Rings</a></p>
                           <p class="courseDetail--author"><strong>Author:</strong> Dr. Anurag Shrivastava, MD</p>
                           <p class="courseDetail--section">
                              <span><strong>Section:</strong> Lens Cataract</span><span><strong>Subsection:</strong> Surgical Management</span> 
                           </p>
                           <h3 class="courseDetail--lectureObjectives-title">Lecture Objectives:</h3>
                           <ul class="courseDetail--lectureObjectives-list">
                              <li>Learn about pupil management during cataract surgery</li>
                              <li>Perioperative steroid dosing and administration</li>
                              <li>Synechiolysis techniques and surgical pearls</li>
                              <li>Capsular Support during phacoemulsification in uveitics</li>
                              <li>Patient selection for complex cataract surgery</li>
                           </ul>

                        </div>
                     </div>
                  </div>
               </div>
            </div>
         </div>
         <div class="similar-lectures">
            <h2>Similar lectures</h2>
            <div class="container-fluid">
                  <div class="row">
                           <div class="courseBox col-12 col-sm-6 col-md-6 col-lg-4 ">
                              <a class="favorite-icon favorite-icon--selected"><i class="material-icons">favorite</i></a>
                              <div class="courseBox--logo"><img src="http://via.placeholder.com/180x35"  alt=""></div>
                              <div class="courseBox--img"><img src="http://via.placeholder.com/300x200" alt=""></div>
                              <div class="courseBox--state"><div class="courseBox--progressBar" style="width:0%"></div></div>
                              <div class="courseBox--name"><a href="#">Cataract Surgery: UveitisIris Management techniques</a></div>
                              <div class="courseBox--speaker">Dr. Anurag Shrivastava, MD</div>
                              <div class="courseBox--calification">
                                 <i class="material-icons start-icon--on">grade</i>
                                 <i class="material-icons start-icon--on">grade</i>
                                 <i class="material-icons start-icon--on">grade</i>
                                 <i class="material-icons start-icon--on">grade</i>
                                 <i class="material-icons start-icon--off">grade</i>
                                 <span>(5)</span>
                              </div>
                              <div class="courseBox--modificationDate">
                                 Modified: 10/13/2017
                              </div>
                           </div>
                           <div class="courseBox col-12 col-sm-6 col-md-6 col-lg-4  ">
                              <a class="favorite-icon"><i class="material-icons">favorite</i></a>
                              <div class="courseBox--logo"><img src="../img/logos/bostonChildrensHospital.png" alt=""></div>
                              <div class="courseBox--img"><img src="../img/curso-img.png" alt=""></div>
                              <div class="courseBox--state"><div class="courseBox--progressBar" style="width:80%"></div></div>
                              <div class="courseBox--name"><a href="#">Cataract Surgery: UveitisIris Management techniques</a></div>
                              <div class="courseBox--speaker">Dr. Anurag Shrivastava, MD</div>
                              <div class="courseBox--calification">
                                 <i class="material-icons start-icon--off">grade</i>
                                 <i class="material-icons start-icon--off">grade</i>
                                 <i class="material-icons start-icon--off">grade</i>
                                 <i class="material-icons start-icon--off">grade</i>
                                 <i class="material-icons start-icon--off">grade</i>
                                 <span>(5)</span>
                              </div>
                              <div class="courseBox--modificationDate">
                                 Modified: 10/13/2017
                              </div>
                           </div>
                           <div class="courseBox col-12 col-sm-6 col-md-6 col-lg-4  ">
                              <a class="favorite-icon favorite-icon--selected"><i class="material-icons">favorite</i></a>
                              <div class="courseBox--logo"><img src="../img/logos/montefiore.png" alt=""></div>
                              <div class="courseBox--img"><img src="../img/curso-img.png" alt=""></div>
                              <div class="courseBox--state"><div class="courseBox--progressBar" style="width:50%"></div></div>
                              <div class="courseBox--name"><a href="#">Cataract Surgery: UveitisIris Management techniques UveitisIris Management techniques</a></div>
                              <div class="courseBox--speaker">Dr. Anurag Shrivastava, MD Dr. Anurag Shrivastava, MD</div>
                              <div class="courseBox--calification">
                                 <i class="material-icons start-icon--on">grade</i>
                                 <i class="material-icons start-icon--on">grade</i>
                                 <i class="material-icons start-icon--on">grade</i>
                                 <i class="material-icons start-icon--on">grade</i>
                                 <i class="material-icons start-icon--off">grade</i>
                                 <span>(5)</span>
                              </div>
                              <div class="courseBox--modificationDate">
                                 Modified: 10/13/2017
                              </div>
                           </div>
                           <div class="courseBox col-12 col-sm-6 col-md-6 col-lg-4 ">
                              <a class="favorite-icon favorite-icon--selected"><i class="material-icons">favorite</i></a>
                              <div class="courseBox--logo"><img src="../img/logos/stanfordChildrenHealth.png" alt=""></div>
                              <div class="courseBox--img"><img src="../img/curso-img.png" alt=""></div>
                              <div class="courseBox--state"><div class="courseBox--progressBar" style="width:100%"></div></div>
                              <div class="courseBox--name"><a href="#">Cataract Surgery: UveitisIris Management techniques</a></div>
                              <div class="courseBox--speaker">Dr. Anurag Shrivastava, MD</div>
                              <div class="courseBox--calification">
                                 <i class="material-icons start-icon--on">grade</i>
                                 <i class="material-icons start-icon--on">grade</i>
                                 <i class="material-icons start-icon--on">grade</i>
                                 <i class="material-icons start-icon--on">grade</i>
                                 <i class="material-icons start-icon--off">grade</i>
                                 <span>(5)</span>
                              </div>
                              <div class="courseBox--modificationDate">
                                 Modified: 10/13/2017
                              </div>
                           </div>
                           <div class="courseBox col-12 col-sm-6 col-md-6 col-lg-4 ">
                              <a class="favorite-icon favorite-icon--selected"><i class="material-icons">favorite</i></a>
                              <div class="courseBox--logo"><img src="../img/logos/UL-hospital.png" alt=""></div>
                              <div class="courseBox--img"><img src="../img/curso-img.png" alt=""></div>
                              <div class="courseBox--state"><div class="courseBox--progressBar" style="width:100%"></div></div>
                              <div class="courseBox--name"><a href="#">Cataract Surgery: UveitisIris Management techniques</a></div>
                              <div class="courseBox--speaker">Dr. Anurag</div>
                              <div class="courseBox--calification">
                                 <i class="material-icons start-icon--on">grade</i>
                                 <i class="material-icons start-icon--on">grade</i>
                                 <i class="material-icons start-icon--on">grade</i>
                                 <i class="material-icons start-icon--on">grade</i>
                                 <i class="material-icons start-icon--off">grade</i>
                                 <span>(5)</span>
                              </div>
                              <div class="courseBox--modificationDate">
                                 Modified: 10/13/2017
                              </div>
                           </div>
                        </div>
               </div>
               <div class="is--loading">
                           <div class="spinner"></div>
                        <div>
         </div>


      </div>
   </div>


<!-- Optional JavaScript --> 
<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script> 
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.3/umd/popper.min.js" integrity="sha384-vFJXuSJphROIrBnz7yo7oB41mKfc8JzQZiCq4NCceLEaO4IHwicKwpJf9c9IpFgh" crossorigin="anonymous"></script> 
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/js/bootstrap.min.js" integrity="sha384-alpBpkh1PFOepccYVYDB4do5UnbKysX5WZXm3XxPqe5iKTfUKjNkCk9SaVuEZflJ" crossorigin="anonymous"></script>

<script>

   $(".nav-searchBox--input").focus(function() {
      $(".nav-searchBox--iconClose").removeClass("is--hide");
      $(".nav-searchBox--iconSearch").addClass("is--hide");
   }).blur(function() {
      $(".nav-searchBox--iconClose").addClass("is--hide");
      $(".nav-searchBox--iconSearch").removeClass("is--hide");
      $(this).val("");
   });


</script>



</body>
</html>