<!doctype html>
<html>
<head>
   <title>Program Director Dashboard Student</title>
   <meta charset="utf-8">
   <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
   <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
   <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/css/bootstrap.min.css">
   <link rel="stylesheet" href="../css/styles.css">
</head>
<body>
   <div class="wrapper listado director-dashborad-student">
      <div class="header">
         <nav class="navbar">
            <div class="inner-wrapper">
               <div class="row">
                  <div class="col-6 col-sm-6 col-md-3 navbar--logoBox">
                     <a href="#">
                        <span class="logo-content"><img src="../img/logo.svg" alt=""></span>
                        <p>Program Director <span>Dashboard</span></p>
                     </a>
                  </div>
                  <div class="col-6 col-sm-6 col-md-3 col-sm-push-6 navbar--userBox">
                     <p class="navbar--userBox-name">Nombre Apellido Nombre Apellido</p>
                     <img class="navbar--userBox-img" src="http://via.placeholder.com/45x45" alt="">
                  </div>
                  <div class="col-12 col-sm-12 col-md-6 col-sm-pull-3 navbar--searchBox">
                     <form>
                        <div class="navbar--searchBox-content">
                           <input type="text" class="nav-searchBox--input">
                           <button type="submit" class="nav-searchBox--iconSearch"><i class="material-icons">search</i></button>
                           <button type="reset" class="nav-searchBox--iconClose is--hide"><i class="material-icons">close</i></button>
                        </div>
                     </form>
                  </div>
               </div>
            </div> 
         </nav>
      </div>

      <div class="top-bar filters-nav">
         <div class="inner-wrapper">
            <div class="show-filters-mobile">
               <a class="show-filters-mobile-btn"><i class="material-icons">filter_list</i> Filter</a>
            </div>

            <div class="filter--courseType">
               <div class="btn-group" data-toggle="buttons">
                  <label class="btn btn-transparent  active">                 
                     <input type="radio" name="options" id="option1" checked> MY CURRICULUM 
                  </label>
                  <label class="btn btn-transparent">
                     <input type="radio" name="options" id="option2" > PROGRESS REPORT
                  </label>
                  <label class="btn btn-transparent">
                     <input type="radio" name="options" id="option3" > MY DEPARTMENT
                  </label>
               </div>
            </div>
         </div>
      </div>

      <div class="content">
         <div class="inner-wrapper">
            <div class="container-fluid">
               <div class="row result-content">
                  <div class="col-12 col-md-4 col-lg-3 result-content-filters ">
                     <a href="" class="btn-rounded btn-rounded-primary btn-assign-lecture">ASSIGN A LECTURE TO A TEACHER</a>
                     <div class="filter-section">
                        <h3><a class="hide-filters-mobile-btn"><i class="material-icons">arrow_back</i></a> Sections</h3>
                        <div class="filterBox">
                           <div class="filterBox--firstLevel">
                              <a class="btn btn-transparent collapsed" data-toggle="collapse" href="#filter1-box" aria-expanded="false" >Lens Cataract (8)<i class="material-icons">arrow_drop_down</i></a>
                              <div class="collapse" id="filter1-box">
                                 <div class="filterBox--secondLevel">
                                    <a class="btn btn-transparent collapsed" data-toggle="collapse" href="#submenu-1" aria-expanded="false" >Surgical Management (38) <i class="material-icons">arrow_drop_down</i></a>
                                    <div class="collapse" id="submenu-1">
                                       <ul>
                                          <li class="is--selected"><a href="#">Uveitis (3)</a></li>
                                          <li><a href="#">Pseudoexfoliation (24)</a></li>
                                          <li><a href="#">Keratorefractive Patients (1)</a></li>
                                          <li><a href="#">Prior Retina Surgery (2)</a></li>                         
                                       </ul>
                                    </div>
                                 </div>
                                 <div class="filterBox--secondLevel">
                                    <a class="btn btn-transparent collapsed" data-toggle="collapse" href="#submenu-2" aria-expanded="false" >Lens Anatomy (3) <i class="material-icons">arrow_drop_down</i></a>
                                    <div class="collapse" id="submenu-2">
                                       <ul>
                                          <li><a href="#">Uveitis</a></li>
                                          <li><a href="#">Pseudoexfoliation</a></li>
                                          <li><a href="#">Keratorefractive Patients</a></li>
                                          <li><a href="#">Prior Retina Surgery</a></li>                         
                                       </ul>
                                    </div>
                                 </div>
                                 <div class="filterBox--secondLevel">
                                    <a class="btn btn-transparent collapsed" data-toggle="collapse" href="#submenu-3" aria-expanded="false" >Embryology of Lens <i class="material-icons">arrow_drop_down</i></a>
                                    <div class="collapse" id="submenu-3">
                                       <ul>
                                          <li><a href="#">Uveitis</a></li>
                                          <li><a href="#">Pseudoexfoliation</a></li>
                                          <li><a href="#">Keratorefractive Patients</a></li>
                                          <li><a href="#">Prior Retina Surgery</a></li>                         
                                       </ul>
                                    </div>
                                 </div>
                                 <div class="filterBox--secondLevel">
                                    <a class="btn btn-transparent collapsed" data-toggle="collapse" href="#submenu-4" aria-expanded="false" >Lens Dislocation Subluxation <i class="material-icons">arrow_drop_down</i></a>
                                    <div class="collapse" id="submenu-4">
                                       <ul>
                                          <li><a href="#">Uveitis</a></li>
                                          <li><a href="#">Pseudoexfoliation</a></li>
                                          <li><a href="#">Keratorefractive Patients</a></li>
                                          <li><a href="#">Prior Retina Surgery</a></li>
                                       </ul>
                                    </div>
                                 </div>
                              </div>
                              <div class="filterBox--firstLevel">
                                 <a class="btn btn-transparent collapsed" data-toggle="collapse" href="#Retina" aria-expanded="false" >Retina (1) <i class="material-icons">arrow_drop_down</i></a>
                                 <div class="collapse" id="Retina">
                                    <ul>
                                       <li><a href="#">Uveitis</a></li>
                                       <li><a href="#">Pseudoexfoliation</a></li>
                                       <li><a href="#">Keratorefractive Patients</a></li>
                                       <li><a href="#">Prior Retina Surgery</a></li>
                                    </ul>
                                 </div>
                              </div>
                              <div class="filterBox--firstLevel">
                                 <a class="btn btn-transparent " data-toggle="collapse" href="#Glaucoma" aria-expanded="true" >Glaucoma <i class="material-icons">arrow_drop_down</i></a>
                                 <div class="collapse" id="Glaucoma">
                                    <ul>
                                       <li><a href="#">Uveitis</a></li>
                                       <li><a href="#">Pseudoexfoliation</a></li>
                                       <li><a href="#">Keratorefractive Patients</a></li>
                                       <li><a href="#">Prior Retina Surgery</a></li>
                                    </ul>
                                 </div>
                              </div>
                              <div class="filterBox--firstLevel">
                                 <a class="btn btn-transparent " data-toggle="collapse" href="#Pediatrics" aria-expanded="true" >Pediatrics (2) <i class="material-icons">arrow_drop_down</i></a>
                                 <div class="collapse" id="Pediatrics">
                                    <ul>
                                       <li><a href="#">Uveitis</a></li>
                                       <li><a href="#">Pseudoexfoliation</a></li>
                                       <li><a href="#">Keratorefractive Patients</a></li>
                                       <li><a href="#">Prior Retina Surgery</a></li>
                                    </ul>
                                 </div>
                              </div>
                              <div class="filterBox--firstLevel">
                                 <a class="btn btn-transparent " data-toggle="collapse" href="#Neuro" aria-expanded="true" >Neuro (3) <i class="material-icons">arrow_drop_down</i></a>
                                 <div class="collapse" id="Neuro">
                                    <ul>
                                       <li><a href="#">Uveitis</a></li>
                                       <li><a href="#">Pseudoexfoliation</a></li>
                                       <li><a href="#">Keratorefractive Patients</a></li>
                                       <li><a href="#">Prior Retina Surgery</a></li>
                                    </ul>
                                 </div>
                              </div>
                              <div class="filterBox--firstLevel">
                                 <a class="btn btn-transparent " data-toggle="collapse" href="#Cornea " aria-expanded="true" >Cornea (2) <i class="material-icons">arrow_drop_down</i></a>
                                 <div class="collapse" id="Cornea ">
                                    <ul>
                                       <li><a href="#">Uveitis</a></li>
                                       <li><a href="#">Pseudoexfoliation</a></li>
                                       <li><a href="#">Keratorefractive Patients</a></li>
                                       <li><a href="#">Prior Retina Surgery</a></li>
                                    </ul>
                                 </div>
                              </div>
                              <div class="filterBox--firstLevel">
                                 <a class="btn btn-transparent " data-toggle="collapse" href="#Plastics" aria-expanded="true" >Plastics (1) <i class="material-icons">arrow_drop_down</i></a>
                                 <div class="collapse" id="Plastics">
                                    <ul>
                                       <li><a href="#">Uveitis</a></li>
                                       <li><a href="#">Pseudoexfoliation</a></li>
                                       <li><a href="#">Keratorefractive Patients</a></li>
                                       <li><a href="#">Prior Retina Surgery</a></li>
                                    </ul>
                                 </div>
                              </div>
                              <div class="filterBox--firstLevel">
                                 <a class="btn btn-transparent " data-toggle="collapse" href="#Yield" aria-expanded="true" >High Yield Reviews (10) <i class="material-icons">arrow_drop_down</i></a>
                                 <div class="collapse" id="Yield">
                                    <ul>
                                       <li><a href="#">Uveitis</a></li>
                                       <li><a href="#">Pseudoexfoliation</a></li>
                                       <li><a href="#">Keratorefractive Patients</a></li>
                                       <li><a href="#">Prior Retina Surgery</a></li>
                                    </ul>
                                 </div>
                              </div>
                           </div>
                        </div><!--filterBox-->
                     </div>
                  </div>

                  <div class="col-12 col-md-8 col-lg-9">
                     <div class="course-list program-director-list">
                        <div class="row">
                           

                           <div class="courseBox col-12 col-sm-6 col-md-6 col-lg-4 ">
                              <span class="courseBox--status-red">DECLINED</span>
                              <div class="courseBox--logo"><img src="http://via.placeholder.com/100x35"  alt=""></div>
                              <div class="courseBox--img courseBox--img-empty">
                                 <div class="btn-content-center">
                                    <button type="button" class="btn-rounded btn-rounded-primary">REVIEW</button>
                                 </div>
                              </div>
                              <div class="courseBox--title">
                                 <a href="#">
                                    Cataract Surgery: Uveitis
                                    <span class="courseBox--subtitle">Iris Management techniques</span>
                                 </a>
                              </div>
                              <div class="courseBox--text">Dr. John Smith on 10/04/2017</div>
                           </div>

                           <div class="courseBox col-12 col-sm-6 col-md-6 col-lg-4 ">
                              <span class="courseBox--status-red">INVITED</span>
                              <div class="courseBox--logo"><img src="http://via.placeholder.com/100x35"  alt=""></div>
                              <div class="courseBox--img courseBox--img-empty">
                                 <div class="btn-content-center">
                                    <span class="" >REMINDER SENT</span>
                                 </div>
                              </div>
                              <div class="courseBox--title">
                                 <a href="#">
                                    Cataract Surgery: Uveitis
                                    <span class="courseBox--subtitle">Iris Management techniques</span>
                                 </a>
                              </div>
                             <div class="courseBox--text">Dr. John Smith on 10/04/2017</div>
                           </div>

                           <div class="courseBox col-12 col-sm-6 col-md-6 col-lg-4 ">
                              <span class="courseBox--status-red">INVITED</span>
                              <div class="courseBox--logo"><img src="http://via.placeholder.com/100x35"  alt=""></div>
                              <div class="courseBox--img courseBox--img-empty">
                                 <div class="btn-content-center">
                                    <button type="button" class="btn-rounded" data-toggle="modal" data-target="#send-reminders-modal">SEND A REMINDER</button>
                                 </div>
                              </div>
                              <div class="courseBox--title">
                                 <a href="#">
                                    Chronic angle closure glaucoma Management of PAS
                                 </a>
                              </div>
                             <div class="courseBox--text">Dr. John Smith on 10/04/2017</div>
                           </div>

                           <div class="courseBox col-12 col-sm-6 col-md-6 col-lg-4 ">
                              <span class="courseBox--status-orange">IN PROGRESS</span>
                              <div class="courseBox--logo"><img src="http://via.placeholder.com/100x35"  alt=""></div>
                              <div class="courseBox--img courseBox--img-empty">
                                 <div class="btn-content-center">
                                    <button type="button" class="btn-rounded" data-toggle="modal" data-target="#send-reminders-modal">SEND A REMINDER</button>
                                 </div>
                              </div>
                              <div class="courseBox--title">
                                 <a href="#">
                                    Posterior Uveitis                      
                                    <span class="courseBox--subtitle">Surgical and Therapeutic Options</span>
                                 </a>
                              </div>
                             <div class="courseBox--text">Dr. John Smith on 10/04/2017</div>
                             <div class="courseBox--modificationDate is-align-right is--block">Modified: 10/13/2017</div>
                           </div>


                           <div class="courseBox col-12 col-sm-6 col-md-6 col-lg-4 ">
                              <span class="courseBox--status-green">PUBLISHED</span>
                              <div class="courseBox--logo"><img src="http://via.placeholder.com/100x35"  alt=""></div>
                              <div class="courseBox--img ">
                                 <img src="http://via.placeholder.com/300x200" alt="">
                              </div>
                              <div class="courseBox--title">
                                 <a href="#">
                                    Cataract Surgery: Uveitis 
                                    <span class="courseBox--subtitle">Iris Management Techniques</span>
                                 </a>
                              </div>
                             <div class="courseBox--text">Dr. Anurag Shrivastava</div>
                             <div class="courseBox--calification">
                                 <i class="material-icons start-icon--on">grade</i>
                                 <i class="material-icons start-icon--on">grade</i>
                                 <i class="material-icons start-icon--on">grade</i>
                                 <i class="material-icons start-icon--on">grade</i>
                                 <i class="material-icons start-icon--off">grade</i>
                                 <span>(5)</span>
                              </div>
                              <div class="courseBox--modificationDate">
                                 Modified: 10/13/2017
                              </div>
                           </div>

                           <div class="courseBox col-12 col-sm-6 col-md-6 col-lg-4 ">
                              <span class="courseBox--status-green">ASSIGNED</span>
                              <div class="courseBox--logo"><img src="http://via.placeholder.com/100x35"  alt=""></div>
                              <div class="courseBox--img ">
                                 <img src="http://via.placeholder.com/300x200" alt="">
                              </div>
                              <div class="courseBox--title">
                                 <a href="#">
                                    Cataract Surgery: Uveitis 
                                    <span class="courseBox--subtitle">Iris Management Techniques</span>
                                 </a>
                              </div>
                             <div class="courseBox--text">Dr. Anurag Shrivastava</div>
                             <div class="courseBox--calification">
                                 <i class="material-icons start-icon--on">grade</i>
                                 <i class="material-icons start-icon--on">grade</i>
                                 <i class="material-icons start-icon--on">grade</i>
                                 <i class="material-icons start-icon--on">grade</i>
                                 <i class="material-icons start-icon--off">grade</i>
                                 <span>(5)</span>
                              </div>
                              <div class="courseBox--modificationDate">
                                 Modified: 10/13/2017
                              </div>
                           </div>


                           <div class="dividing-line"></div>


                           <div class="courseBox col-12 col-sm-6 col-md-6 col-lg-4  ">
                              <span class="courseBox--status-green">PUBLISHED</span>
                              <div class="courseBox--logo"><img src="../img/logos/montefiore.png" alt=""></div>
                              <div class="courseBox--img"><img src="../img/curso-img.png" alt=""></div>
                              <div class="courseBox--state"><div class="courseBox--progressBar" style="width:50%"></div></div>
                              <div class="courseBox--title">
                                 <a href="#">
                                    Cataract Surgery: Uveitis
                                    <span class="courseBox--subtitle">Iris Management Techniques</span>
                                 </a>
                              </div>
                              <div class="courseBox--text">Dr. Anurag Shrivastava</div>
                              <div class="courseBox--calification">
                                 <i class="material-icons start-icon--on">grade</i>
                                 <i class="material-icons start-icon--on">grade</i>
                                 <i class="material-icons start-icon--on">grade</i>
                                 <i class="material-icons start-icon--on">grade</i>
                                 <i class="material-icons start-icon--off">grade</i>
                                 <span>(5)</span>
                              </div>
                              <div class="courseBox--modificationDate">
                                 Modified: 10/13/2017
                              </div>
                           </div>

                           <div class="courseBox col-12 col-sm-6 col-md-6 col-lg-4  ">
                              <span class="courseBox--status-green">ASSIGNED</span>
                              <div class="courseBox--logo"><img src="../img/logos/montefiore.png" alt=""></div>
                              <div class="courseBox--img"><img src="../img/curso-img.png" alt=""></div>
                              <div class="courseBox--state"><div class="courseBox--progressBar" style="width:50%"></div></div>
                              <div class="courseBox--title">
                                 <a href="#">
                                    Cataract Surgery: Uveitis
                                    <span class="courseBox--subtitle">Iris Management Techniques</span>
                                 </a>
                              </div>
                              <div class="courseBox--text">Dr. Anurag Shrivastava</div>
                              <div class="courseBox--calification">
                                 <i class="material-icons start-icon--on">grade</i>
                                 <i class="material-icons start-icon--on">grade</i>
                                 <i class="material-icons start-icon--on">grade</i>
                                 <i class="material-icons start-icon--on">grade</i>
                                 <i class="material-icons start-icon--off">grade</i>
                                 <span>(5)</span>
                              </div>
                              <div class="courseBox--modificationDate">
                                 Modified: 10/13/2017
                              </div>
                           </div>




                        </div>

                           
                           
                           

                        <div class="is--loading">
                           <div class="spinner"></div>
                        <div>

                     </div>
                  </div>
               </div>
            </div>
         </div>
      </div>
   </div>
   </div>
</div>


<!-- PROMOTE ALL MODAL-->
<div id="promote-all-modal" class="modal fade" tabindex="-1">
   <div class="modal-dialog modal-dialog-centered">
      <div class="modal-content">
         <div class="modal-body">
           <p class="modal-text">Lorem ipsum dolor sit amet consectetur adipiscing?  </p>
           <p class="modal-text-secondary">Leo neque vehicula duis tellus tincidunt suscipit potenti fringill.</p>
         </div>
         <div class="modal-footer">
            <button type="button" class="btn-rounded">Yes</button>
            <button type="button" class="btn-rounded" data-dismiss="modal">No</button>
         </div>
      </div>
      <!-- mensaje de ok/error -->
      <div class="modal-content" style="display: none">
         <div class="modal-body">
            <p class="modal-text modal-text-success">Success!</p>
            <p class="modal-text modal-text-error">Ups!</p>
            <p class="modal-text-secondary">Lorem ipsum dolor sit amet consectetur adipiscing elit augue.</p>
         </div>
         <div class="modal-footer">
            <button type="button" class="btn-rounded" data-dismiss="modal">Close</button>
         </div>
      </div>
  </div>
</div>

<!-- SEND REMINDERS MODAL-->
<div id="send-reminders-modal" class="modal fade" tabindex="-1">
   <div class="modal-dialog modal-dialog-centered">
      <div class="modal-content">
         <div class="modal-body">
           <p class="modal-text">Lorem ipsum dolor sit amet consectetur adipiscing?  </p>
           <p class="modal-text-secondary">Leo neque vehicula duis tellus tincidunt suscipit potenti fringill.</p>
         </div>
         <div class="modal-footer">
            <button type="button" class="btn-rounded">Yes</button>
            <button type="button" class="btn-rounded" data-dismiss="modal">No</button>
         </div>
      </div>
      <!-- mensaje de ok/error -->
      <div class="modal-content" style="display: none">
         <div class="modal-body">
            <p class="modal-text modal-text-success">Success!</p>
            <p class="modal-text modal-text-error">Ups!</p>
            <p class="modal-text-secondary">Lorem ipsum dolor sit amet consectetur adipiscing elit augue.</p>
         </div>
         <div class="modal-footer">
            <button type="button" class="btn-rounded" data-dismiss="modal">Close</button>
         </div>
      </div>
  </div>
</div>   





<!-- Optional JavaScript --> 
<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script> 
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.3/umd/popper.min.js" integrity="sha384-vFJXuSJphROIrBnz7yo7oB41mKfc8JzQZiCq4NCceLEaO4IHwicKwpJf9c9IpFgh" crossorigin="anonymous"></script> 
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/js/bootstrap.min.js" integrity="sha384-alpBpkh1PFOepccYVYDB4do5UnbKysX5WZXm3XxPqe5iKTfUKjNkCk9SaVuEZflJ" crossorigin="anonymous"></script>



<script>

   $(".nav-searchBox--input").focus(function() {
      $(".nav-searchBox--iconClose").removeClass("is--hide");
      $(".nav-searchBox--iconSearch").addClass("is--hide");
   }).blur(function() {
      $(".nav-searchBox--iconClose").addClass("is--hide");
      $(".nav-searchBox--iconSearch").removeClass("is--hide");
      $(this).val("");
   });

   $(".show-filters-mobile-btn").click(function(){
      $(".filter-section").addClass("filter-section--in");
      $("body").css("overflow", "hidden");
   });

   $(".hide-filters-mobile-btn").click(function(){
      $(".filter-section").removeClass("filter-section--in");
      $("body").css("overflow", "auto");
   });
</script>



</body>
</html>