<!doctype html>
<html>
<head>
   <title>Lecture Slide</title>
   <meta charset="utf-8">
   <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
   <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
   <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/css/bootstrap.min.css">
   <link rel="stylesheet" href="../css/styles.css">
</head>
<body>

<div class="wrapper course-content lecture-slide ">

   <div class="header">
         <nav class="navbar">
            <div class="inner-wrapper">
               <div class="row">
                  <div class="col-xs-6 col-sm-6 col-md-3 navbar--logoBox">
                     <a href="#">
                        <span class="logo-content"><img src="../img/logo.svg" alt=""></span>
                        <p>Student <span>Dashboard</span></p>
                     </a>
                  </div>
                  <div class="col-xs-6 col-sm-6 col-md-3 col-sm-push-6 navbar--userBox">
                     <p class="navbar--userBox-name">Nombre Apellido Nombre Apellido</p>
                     <img class="navbar--userBox-img" src="http://via.placeholder.com/45x45" alt="">
                  </div>
                  <div class="col-xs-12 col-sm-12 col-md-6 col-sm-pull-3 navbar--searchBox">
                     <form>
                        <div class="navbar--searchBox-content">
                           <input type="text" class="nav-searchBox--input">
                           <button type="submit" class="nav-searchBox--iconSearch"><i class="material-icons">search</i></button>
                           <button type="reset" class="nav-searchBox--iconClose is--hide"><i class="material-icons">close</i></button>
                        </div>
                     </form>
                  </div>
               </div>
            </div> 
         </nav>
      </div>

    		<!--div class="modal-content lecture-slide">
      		<div class="modal-header">
        			<button type="button" class="close" data-dismiss="modal" aria-label="Close"><i class="material-icons">clear</i></button>
        			 <span class="logo-content"><img src="../img/logo.svg" alt=""></span>
        			<div class="modal-title-content">
        				<h4 class="modal-title">Cataract Surgery: Uveitis</h4>
        				<h5 class="modal-subtitle">Perioperative management of complex phacoemulsification</h5>
        			</div>
      		</div-->
      	<div class="course-body">
      		<div class="container-fluid">
      		<div class="row">
      			
      			<div class="col-xs-12 col-sm-12 col-md-9 lecture-slide--slideSection">
      				<div class="slide-content slide--is-loading">
      					<div class="loading-content">
      						<span class="icon-play"><i class="material-icons">play_arrow</i></span>
      					</div>
      					<img class="course-slide-img" src="../img/curso.png" alt="">
      				</div>
	      		</div>
	      		
	      		<div class="col-xs-12 col-sm-12 col-md-3 lecture-slide--linkSection">
	      			<div class="lecture-slide--links-box lecture-slide-attachments-box">
                     <a class="btn-transparent " data-toggle="collapse" href="#Attachments" aria-expanded="true" >Attachments <i class="material-icons">keyboard_arrow_up</i></a>
                     <div class="collapse show" id="Attachments">
                        <ul>
                           <li><a href="#">KeraticPrecipitates.jpg</a></li>
                           <li><a href="#">OzurdexImplant.mov</a></li>
                           <li><a href="#">Sample Steroid Taper.doc</a></li>
                        </ul>
                     </div>
                  </div>
                  <div class="lecture-slide--links-box lecture-slide-links-box">
                     <a class="btn-transparent " data-toggle="collapse" href="#Links" aria-expanded="true" >Web Links <i class="material-icons">keyboard_arrow_up</i></a>
                     <div class="collapse show" id="Links">
                        <ul>
                           <li>
                           	<p class="lecture-slide-link-name">Preferred Practice Pattern</p>
                           	<a href="#" class="lecture-slide-link">https://www.aao.org/clinical-qusdfsdfsdf</a>
                           	<a href="#" class="btn-report">Report</a>
                           </li>
                           <li>
                           	<p class="lecture-slide-link-name">Preferred Practice PatternPreferred Practice Pattern</p>
                           	<a href="#" class="lecture-slide-link">https://www.aao.org/</a>
                           	<a href="#" class="btn-report">Report</a>
                           </li>
                           <li>
                           	<p class="lecture-slide-link-name">Preferred Practice</p>
                           	<a href="#" class="lecture-slide-link">https://www.aao.org/clinical-qusdfsdfsdf</a>
                           	<a href="#" class="btn-report">Report</a>
                           </li>
                        </ul>
                     </div>
                  </div>
               </div>
            </div>

            <div class="row lecture-slide-footer">
      			<div class="col-xs-12 col-sm-12 col-md-9 lecture-slide--slideSection-footer">
      				CONTROLES
      			</div>
      			<div class="col-xs-12 col-sm-12 col-md-3 lecture-slide--linkSection-footer">
      				<button type="button" class="btn-transparent btn-prev">PREV</button>
      				<div class="page-number"><strong>1</strong><span> / 23</span></div>
      				<button type="button" class="btn-rounded btn-rounded-primary">NEXT</button>
      			</div>
      		</div>
      	</div>
      	</div>

      </div>
    </div><!-- /.modal-content -->



<!-- Optional JavaScript --> 
<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script> 
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.3/umd/popper.min.js" integrity="sha384-vFJXuSJphROIrBnz7yo7oB41mKfc8JzQZiCq4NCceLEaO4IHwicKwpJf9c9IpFgh" crossorigin="anonymous"></script> 
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/js/bootstrap.min.js" integrity="sha384-alpBpkh1PFOepccYVYDB4do5UnbKysX5WZXm3XxPqe5iKTfUKjNkCk9SaVuEZflJ" crossorigin="anonymous"></script>


<script>
	$('.test--answers-list label').on('click', function(){
		$('label').removeClass('is--selected');
    	$(this).addClass('is--selected');
	});
</script>


</body>
</html>