<!doctype html>
<html>
<head>
   <title>Lecture Slide</title>
   <meta charset="utf-8">
   <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
   <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
   <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/css/bootstrap.min.css">
   <link rel="stylesheet" href="../css/styles.css">
   <link type="text/css" href="../css/jplayer.blue.monday.min.css" rel="stylesheet" />
</head>
<body>

<div class="wrapper course-content lecture-slide ">

   <div class="header">
         <nav class="navbar">
            <div class="inner-wrapper">
               <div class="row">
                  <div class="col-6 col-sm-6 col-md-3 navbar--logoBox">
                     <a href="#">
                        <span class="logo-content"><img src="../img/logo.svg" alt=""></span>
                        <p>Student <span>Dashboard</span></p>
                     </a>
                  </div>
                  <div class="col-6 col-sm-6 col-md-3 col-sm-push-6 navbar--userBox">
                     <p class="navbar--userBox-name">Nombre Apellido Nombre Apellido</p>
                     <img class="navbar--userBox-img" src="http://via.placeholder.com/45x45" alt="">
                  </div>
                  <div class="col-12 col-sm-12 col-md-6 col-sm-pull-3 navbar--searchBox">
                     <form>
                        <div class="navbar--searchBox-content">
                           <input type="text" class="nav-searchBox--input">
                           <button type="submit" class="nav-searchBox--iconSearch"><i class="material-icons">search</i></button>
                           <button type="reset" class="nav-searchBox--iconClose is--hide"><i class="material-icons">close</i></button>
                        </div>
                     </form>
                  </div>
               </div>
            </div> 
         </nav>
      </div>

    		<!--div class="modal-content lecture-slide">
      		<div class="modal-header">
        			<button type="button" class="close" data-dismiss="modal" aria-label="Close"><i class="material-icons">clear</i></button>
        			 <span class="logo-content"><img src="../img/logo.svg" alt=""></span>
        			<div class="modal-title-content">
        				<h4 class="modal-title">Cataract Surgery: Uveitis</h4>
        				<h5 class="modal-subtitle">Perioperative management of complex phacoemulsification</h5>
        			</div>
      		</div-->
      	<div class="course-body">
      		<div class="container-fluid">
      		<div class="row">
      			
      			<div class="col-12 col-sm-12 col-md-9 lecture-slide--slideSection">
      				<div class="slide-content slide--is-loading">
      					<div class="loading-content">
      						<span class="icon-play"><i class="material-icons">play_arrow</i></span>
      					</div>
      					<img class="course-slide-img" src="../img/curso.png" alt="">
      				</div>
	      		</div>
	      		
	      		<div class="col-12 col-sm-12 col-md-3 lecture-slide--linkSection">
	      			<div class="lecture-slide--links-box lecture-slide-attachments-box">
                     <a class="btn-transparent " data-toggle="collapse" href="#Attachments" aria-expanded="true" >Attachments <i class="material-icons">keyboard_arrow_up</i></a>
                     <div class="collapse show" id="Attachments">
                        <ul>
                           <li><a href="#">KeraticPrecipitates.jpg</a></li>
                           <li><a href="#">OzurdexImplant.mov</a></li>
                           <li><a href="#">Sample Steroid Taper.doc</a></li>
                        </ul>
                     </div>
                  </div>
                  <div class="lecture-slide--links-box lecture-slide-links-box">
                     <a class="btn-transparent " data-toggle="collapse" href="#Links" aria-expanded="true" >Web Links <i class="material-icons">keyboard_arrow_up</i></a>
                     <div class="collapse show" id="Links">
                        <ul>
                           <li>
                           	<p class="lecture-slide-link-name">Preferred Practice Pattern</p>
                           	<a href="#" class="lecture-slide-link">https://www.aao.org/clinical-qusdfsdfsdf</a>
                           	<a href="#" class="btn-report">Report</a>
                           </li>
                           <li>
                           	<p class="lecture-slide-link-name">Preferred Practice PatternPreferred Practice Pattern</p>
                           	<a href="#" class="lecture-slide-link">https://www.aao.org/</a>
                           	<a href="#" class="btn-report">Report</a>
                           </li>
                           <li>
                           	<p class="lecture-slide-link-name">Preferred Practice</p>
                           	<a href="#" class="lecture-slide-link">https://www.aao.org/clinical-qusdfsdfsdf</a>
                           	<a href="#" class="btn-report">Report</a>
                           </li>
                        </ul>
                     </div>
                  </div>
               </div>
            </div>

            <div class="row lecture-slide-footer">
      			<div class="col-12 col-sm-12 col-md-9 lecture-slide--slideSection-footer">
      				                      <div id="jquery_jplayer_1" class="jp-jplayer"></div>
                      <div id="jp_container_1" class="jp-audio" role="application" aria-label="media player">
                        <div class="jp-type-single">
                          <div class="jp-gui jp-interface">
                            <div class="jp-controls">
                              <button class="jp-play" role="button" tabindex="0">play</button>
                              <button class="jp-stop" role="button" tabindex="0">stop</button>
                            </div>
                            <div class="jp-progress">
                              <div class="jp-seek-bar">
                                <div class="jp-play-bar"></div>
                              </div>
                            </div>
                            <div class="jp-volume-controls">
                              <button class="jp-mute" role="button" tabindex="0">mute</button>
                              <button class="jp-volume-max" role="button" tabindex="0">max volume</button>
                              <div class="jp-volume-bar" style="position:relative">

                                <div class="jp-volume-bar-value" style="position:absolute;bottom:0"></div>
                              </div>
                            </div>
                            <div id="jpSpeedControl" title="Speed" style="cursor:pointer;" onclick="jpSpeedControl();">1x</div>
                            <div>
                              <input type="checkbox" id="jplayer_autoplay" name="jplayer_autoplay" value="jplayer_autoplay"> Autoplay
                            </div>
                            <div>
                              <input type="button" id="jplayer_forward" name="jplayer_forward" value="Forward">
                              <input type="button" id="jplayer_rewind" name="jplayer_rewind" value="Rewind">
                            </div>
                          </div>
                          <div class="jp-no-solution">
                            <span>Update Required</span>
                            To play the media you will need to either update your browser to a recent version or update your <a href="http://get.adobe.com/flashplayer/" target="_blank">Flash plugin</a>.
                          </div>
                        </div>
                      </div>
      			</div>
      			<div class="col-12 col-sm-12 col-md-3 lecture-slide--linkSection-footer">
      				<button type="button" class="btn-transparent btn-prev">PREV</button>
      				<div class="page-number"><strong>1</strong><span> / 23</span></div>
      				<button type="button" class="btn-rounded btn-rounded-primary">NEXT</button>
      			</div>
      		</div>
      	</div>
      	</div>

      </div>
    </div><!-- /.modal-content -->



<!-- Optional JavaScript --> 
 <script src="../js/jquery-3.3.1.min.js"></script>
 <script type="text/javascript" src="../js/jquery.jplayer.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.3/umd/popper.min.js" integrity="sha384-vFJXuSJphROIrBnz7yo7oB41mKfc8JzQZiCq4NCceLEaO4IHwicKwpJf9c9IpFgh" crossorigin="anonymous"></script> 
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/js/bootstrap.min.js" integrity="sha384-alpBpkh1PFOepccYVYDB4do5UnbKysX5WZXm3XxPqe5iKTfUKjNkCk9SaVuEZflJ" crossorigin="anonymous"></script>


<script>
	$('.test--answers-list label').on('click', function(){
		$('label').removeClass('is--selected');
    	$(this).addClass('is--selected');
	});
</script>

<script type="text/javascript">

  $(document).ready(function(){

    var autoPlay = localStorage.getItem("autoPlay");

    if(autoPlay == null || autoPlay == ""){
      autoPlay = "1";
    }

    if(autoPlay == "1"){
      $("#jplayer_autoplay").attr('checked',true);
    }else{
      $("#jplayer_autoplay").attr('checked',false);
    }

    $("#jquery_jplayer_1").jPlayer({
      ready: function () {
        $(this).jPlayer("setMedia", {
          title: "Bubble",
          m4a: "http://www.jplayer.org/audio/m4a/Miaow-07-Bubble.m4a",
          oga: "http://www.jplayer.org/audio/ogg/Miaow-07-Bubble.ogg"
        });

        if(autoPlay == "1"){
          $(this).jPlayer("play");
        }


      },
      loadeddata: function(event) { // calls after setting the song duration
        songDuration = event.jPlayer.status.duration;
      },
      cssSelectorAncestor: "#jp_container_1",
      swfPath: "/js",
      supplied: "m4a, oga",
      useStateClassSkin: true,
      autoBlur: false,
      smoothPlayBar: true,
      keyEnabled: true,
      remainingDuration: false,
      toggleDuration: true,
      defaultPlaybackRate: 1
    });

    $("#jplayer_autoplay").click(function(){
      if ($(this).is(':checked')) {
        autoPlay = "1";
        localStorage.setItem('autoPlay', autoPlay);
        $("#jquery_jplayer_1").jPlayer("play");
      }else {
        autoPlay = "0";
        localStorage.setItem('autoPlay', autoPlay);
      }
    });

    // Seeking track
    $('#jplayer_rewind').click(function () {
      seek(-15);
    });
    $('#jplayer_forward').click(function () {
      seek(15);
    });

    var getTrackProgress = function() {
      return ($('.jp-play-bar').width() / $('.jp-seek-bar').width() * 100);
    };


    var seek = function(seconds) {
      var currentProgress = getTrackProgress();
      var correctionPercentage = seconds * 100 / songDuration;
      var futureProgress = currentProgress + correctionPercentage;

      //If it goes past the starting point - stop rewinding and replay
      if (futureProgress <= 0) {
        $("#jquery_jplayer_1").jPlayer("stop");
        $("#jquery_jplayer_1").jPlayer("play");
      }else if(futureProgress >= 100){
        $("#jquery_jplayer_1").jPlayer("playHead", 100);
      }
      else {
        $("#jquery_jplayer_1").jPlayer("playHead", futureProgress);
      }
    };

  });

  //Playback rate
  var currentSpeedIdx = 1;
  var speeds = [ 0.5, 1.0, 1.5, 2.0, 2.5 ];

  function jpSpeedControl()
  {
    currentSpeedIdx = currentSpeedIdx + 1 < speeds.length ? currentSpeedIdx + 1 : 0;

    $("#jquery_jplayer_1").jPlayer("option","playbackRate", speeds[currentSpeedIdx]);
    $("#jpSpeedControl").html( speeds[currentSpeedIdx] + 'x' );

  }
</script>


</body>
</html>