<!doctype html>
<html>
<head>
<title></title>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
<link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/css/bootstrap.min.css">
<link rel="stylesheet" href="../css/styles.css">
</head>
<body>
<div class="wrapper">


  <div class="header">
    
    <nav class="navbar">
      
       <div class="inner-wrapper">

      <div class="navbar--logoBox"> <a href="#"><img src="../img/logo.png"></a> </div>
      <div class="navbar--userBox flex-last">
        <p class="navbar--userBox-name">Nombre Apellido</p>
        <img class="navbar--userBox-img" src="http://via.placeholder.com/42x42"> </div>
      <div class="navbar--searchBox">
        <form>
          <div class="navbar--searchBox-content">
            <input type="text" class="nav-searchBox--input">
            <button type="submit" class="nav-searchBox--iconSearch"><i class="material-icons">search</i></button>
            <button type="reset" class="nav-searchBox--iconClose"><i class="material-icons">close</i></button>
        </div>
        </form>
      </div>
      
    </nav>
 </div>
  </div>
  <div class="top-bar filters-nav">
       <div class="inner-wrapper">
        <div class="dropdown filter--orderBy">
         <button class="btn btn-transparent dropdown-toggle" type="button" id="dropdownMenu2" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"> Order by date </button>
         <div class="dropdown-menu" aria-labelledby="dropdownMenu2">
           <button class="dropdown-item" type="button">Action</button>
           <button class="dropdown-item" type="button">Another action</button>
           <button class="dropdown-item" type="button">Something else here</button>
         </div>
      </div>
      <div class="btn-group filter--courseType" data-toggle="buttons">
         <label class="btn btn-transparent active">
            <input type="radio" name="options" id="option1" autocomplete="off" checked> ALL
         </label>
         <label class="btn btn-transparent">
            <input type="radio" name="options" id="option2" autocomplete="off"> RECOMMENDED
         </label>
         <label class="btn btn-transparent">
            <input type="radio" name="options" id="option3" autocomplete="off"> FAVORITES
         </label>
      </div>
   </div>
  </div>

   <div class="content">
     <div class="inner-wrapper">
  	<div class="container-fluid">
      <div class="row result-content">
         <div class="col-12 col-md-4 col-lg-3 ">
            
            <div class="filter-section">
               <h3>Filter</h3>
               
               <div class="filterBox">
                  <div class="filterBox--firstLevel">
            	     <a class="btn btn-transparent collapsed" data-toggle="collapse" href="#filter1-box" aria-expanded="false" aria-controls="collapseExample">Lens Cataract <i class="material-icons">arrow_drop_down</i></a>
                     <div class="collapse" id="filter1-box">
                      	<div class="filterBox--secondLevel">
                          	<a class="btn btn-transparent collapsed" data-toggle="collapse" href="#submenu-1" aria-expanded="false" aria-controls="collapseExample">Surgical Management <i class="material-icons">arrow_drop_down</i></a>
                           <div class="collapse" id="submenu-1">
                              <ul>
                                 <li class="is--selected"><a href="#">Uveitis</a></li>
                                 <li><a href="#">Pseudoexfoliation</a></li>
                                 <li><a href="#">Keratorefractive Patients</a></li>
                                 <li><a href="#">Prior Retina Surgery</a></li>                         
                              </ul>
                           </div>
                        </div>
                        <div class="filterBox--secondLevel">
                    	      <a class="btn btn-transparent collapsed" data-toggle="collapse" href="#submenu-2" aria-expanded="false" aria-controls="collapseExample">Lens Anatomy <i class="material-icons">arrow_drop_down</i></a>
                           <div class="collapse" id="submenu-2">
                              <ul>
                                 <li><a href="#">Uveitis</a></li>
                                 <li><a href="#">Pseudoexfoliation</a></li>
                                 <li><a href="#">Keratorefractive Patients</a></li>
                                 <li><a href="#">Prior Retina Surgery</a></li>                         
                              </ul>
                           </div>
                        </div>
                        <div class="filterBox--secondLevel">
                    	      <a class="btn btn-transparent collapsed" data-toggle="collapse" href="#submenu-3" aria-expanded="false" aria-controls="collapseExample">Embryology of Lens <i class="material-icons">arrow_drop_down</i></a>
                           <div class="collapse" id="submenu-3">
                              <ul>
                                 <li><a href="#">Uveitis</a></li>
                                 <li><a href="#">Pseudoexfoliation</a></li>
                                 <li><a href="#">Keratorefractive Patients</a></li>
                                 <li><a href="#">Prior Retina Surgery</a></li>                         
                              </ul>
                           </div>
                        </div>
                        <div class="filterBox--secondLevel">
                    	      <a class="btn btn-transparent collapsed" data-toggle="collapse" href="#submenu-4" aria-expanded="false" aria-controls="collapseExample">Lens Dislocation Subluxation <i class="material-icons">arrow_drop_down</i></a>
                           <div class="collapse" id="submenu-4">
                              <ul>
                                 <li><a href="#">Uveitis</a></li>
                                 <li><a href="#">Pseudoexfoliation</a></li>
                                 <li><a href="#">Keratorefractive Patients</a></li>
                                 <li><a href="#">Prior Retina Surgery</a></li>
                              </ul>
                           </div>
                        </div>
                     </div>
                     <div class="filterBox--firstLevel">
                        <a class="btn btn-transparent collapsed" data-toggle="collapse" href="#Retina" aria-expanded="false" aria-controls="collapseExample">Retina <i class="material-icons">arrow_drop_down</i></a>
                        <div class="collapse" id="Retina">
                           <ul>
                              <li><a href="#">Uveitis</a></li>
                              <li><a href="#">Pseudoexfoliation</a></li>
                              <li><a href="#">Keratorefractive Patients</a></li>
                              <li><a href="#">Prior Retina Surgery</a></li>
                           </ul>
                        </div>
                     </div>
                     <div class="filterBox--firstLevel">
                        <a class="btn btn-transparent " data-toggle="collapse" href="#Glaucoma" aria-expanded="true" aria-controls="collapseExample">Glaucoma <i class="material-icons">arrow_drop_down</i></a>
                        <div class="collapse show" id="Glaucoma">
                           <ul>
                              <li><a href="#">Uveitis</a></li>
                              <li><a href="#">Pseudoexfoliation</a></li>
                              <li><a href="#">Keratorefractive Patients</a></li>
                              <li><a href="#">Prior Retina Surgery</a></li>
                           </ul>
                        </div>
                     </div>
                  </div>
               </div><!--filterBox-->
            </div>
         </div>





        <div class="col-12 col-md-8 col-lg-9">
          <div class="course-list">
          	<div class="row">
			<div class="courseBox col-12 col-sm-6 col-md-6 col-lg-4 ">
                <a class="favorite-icon favorite-icon--selected"><i class="material-icons">favorite</i></a>
                <div class="courseBox--logo"><img src="http://via.placeholder.com/200x35"  alt=""></div>
                <div class="courseBox--img"><img src="http://via.placeholder.com/300x200" alt=""></div>
                <div class="courseBox--state"><div class="courseBox--progressBar" style="width:0%"></div></div>
                <div class="courseBox--name"><a href="#">Cataract Surgery: UveitisIris Management techniques</a></div>
                <div class="courseBox--speaker">Dr. Anurag Shrivastava, MD</div>
                <div class="courseBox--calification">
                    <i class="material-icons start-icon--on">grade</i>
                    <i class="material-icons start-icon--on">grade</i>
                    <i class="material-icons start-icon--on">grade</i>
                    <i class="material-icons start-icon--on">grade</i>
                    <i class="material-icons start-icon--off">grade</i>
                    <span>(5)</span>
                </div>
                <div class="courseBox--modificationDate">
                    Modified: 10/13/2017
                </div>
			</div>
            
            <div class="courseBox col-12 col-sm-6 col-md-6 col-lg-4  ">
                <a class="favorite-icon"><i class="material-icons">favorite</i></a>
                <div class="courseBox--logo"><img src="../img/logos/bostonChildrensHospital.png" alt=""></div>
                <div class="courseBox--img"><img src="../img/curso-img.png" alt=""></div>
                <div class="courseBox--state"><div class="courseBox--progressBar" style="width:80%"></div></div>
                <div class="courseBox--name"><a href="#">Cataract Surgery: UveitisIris Management techniques</a></div>
                <div class="courseBox--speaker">Dr. Anurag Shrivastava, MD</div>
                <div class="courseBox--calification">
                    <i class="material-icons start-icon--off">grade</i>
                    <i class="material-icons start-icon--off">grade</i>
                    <i class="material-icons start-icon--off">grade</i>
                    <i class="material-icons start-icon--off">grade</i>
                    <i class="material-icons start-icon--off">grade</i>
                    <span>(5)</span>
                </div>
                <div class="courseBox--modificationDate">
                    Modified: 10/13/2017
                </div>
      </div>
           <div class="courseBox col-12 col-sm-6 col-md-6 col-lg-4  ">
                <a class="favorite-icon favorite-icon--selected"><i class="material-icons">favorite</i></a>
                <div class="courseBox--logo"><img src="../img/logos/montefiore.png" alt=""></div>
                <div class="courseBox--img"><img src="../img/curso-img.png" alt=""></div>
                <div class="courseBox--state"><div class="courseBox--progressBar" style="width:50%"></div></div>
                <div class="courseBox--name"><a href="#">Cataract Surgery: UveitisIris Management techniques UveitisIris Management techniques</a></div>
                <div class="courseBox--speaker">Dr. Anurag Shrivastava, MD Dr. Anurag Shrivastava, MD</div>
                <div class="courseBox--calification">
                    <i class="material-icons start-icon--on">grade</i>
                    <i class="material-icons start-icon--on">grade</i>
                    <i class="material-icons start-icon--on">grade</i>
                    <i class="material-icons start-icon--on">grade</i>
                    <i class="material-icons start-icon--off">grade</i>
                    <span>(5)</span>
                </div>
                <div class="courseBox--modificationDate">
                    Modified: 10/13/2017
                </div>
      </div>
       <div class="courseBox col-12 col-sm-6 col-md-6 col-lg-4 ">
                <a class="favorite-icon favorite-icon--selected"><i class="material-icons">favorite</i></a>
                <div class="courseBox--logo"><img src="../img/logos/stanfordChildrenHealth.png" alt=""></div>
                <div class="courseBox--img"><img src="../img/curso-img.png" alt=""></div>
                <div class="courseBox--state"><div class="courseBox--progressBar" style="width:100%"></div></div>
                <div class="courseBox--name"><a href="#">Cataract Surgery: UveitisIris Management techniques</a></div>
                <div class="courseBox--speaker">Dr. Anurag Shrivastava, MD</div>
                <div class="courseBox--calification">
                    <i class="material-icons start-icon--on">grade</i>
                    <i class="material-icons start-icon--on">grade</i>
                    <i class="material-icons start-icon--on">grade</i>
                    <i class="material-icons start-icon--on">grade</i>
                    <i class="material-icons start-icon--off">grade</i>
                    <span>(5)</span>
                </div>
                <div class="courseBox--modificationDate">
                    Modified: 10/13/2017
                </div>
      </div>
      <div class="courseBox col-12 col-sm-6 col-md-6 col-lg-4 ">
                <a class="favorite-icon favorite-icon--selected"><i class="material-icons">favorite</i></a>
                <div class="courseBox--logo"><img src="../img/logos/UL-hospital.png" alt=""></div>
                <div class="courseBox--img"><img src="../img/curso-img.png" alt=""></div>
                <div class="courseBox--state"><div class="courseBox--progressBar" style="width:100%"></div></div>
                <div class="courseBox--name"><a href="#">Cataract Surgery: UveitisIris Management techniques</a></div>
                <div class="courseBox--speaker">Dr. Anurag</div>
                <div class="courseBox--calification">
                    <i class="material-icons start-icon--on">grade</i>
                    <i class="material-icons start-icon--on">grade</i>
                    <i class="material-icons start-icon--on">grade</i>
                    <i class="material-icons start-icon--on">grade</i>
                    <i class="material-icons start-icon--off">grade</i>
                    <span>(5)</span>
                </div>
                <div class="courseBox--modificationDate">
                    Modified: 10/13/2017
                </div>
      </div>
             </div>
            
             <div class="is--loading">
                <div class="spinner"></div>
              <div>
           
           
           
           </div>
        
        
        
        
      </div>
    </div>
   </div>
  
  </div>
         </div>
  
  
  
</div>

<!-- Optional JavaScript --> 
<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script> 
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.3/umd/popper.min.js" integrity="sha384-vFJXuSJphROIrBnz7yo7oB41mKfc8JzQZiCq4NCceLEaO4IHwicKwpJf9c9IpFgh" crossorigin="anonymous"></script> 
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/js/bootstrap.min.js" integrity="sha384-alpBpkh1PFOepccYVYDB4do5UnbKysX5WZXm3XxPqe5iKTfUKjNkCk9SaVuEZflJ" crossorigin="anonymous"></script>
</body>
</html>