<!doctype html>
<html>
<head>
   <title>New Lecture</title>
   <meta charset="utf-8">
   <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
   <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
   <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/css/bootstrap.min.css">
   <link rel="stylesheet" href="../css/styles.css">
</head>
<body>
<div class="wrapper new-lecture">
   <div class="header">
      <nav class="navbar">
         <div class="inner-wrapper">
            <div class="container-fluid">
               <div class="row">
                  <div class="col-6 col-sm-6 col-md-3 navbar--logoBox">
                     <a href="#">
                        <span class="logo-content"><img src="../img/logo.svg" alt=""></span>
                        <p>Teacher <span>Dashboard</span></p>
                     </a>
                  </div>
               </div>
            </div>
         </div> 
      </nav>
   </div>
   <form action="" method="">
      <div class="content login-content">
         <div class="inner-wrapper">
            <h3 class="login-section-title">Reset your password</h3>
            <p class="login-section-sub-title">Please choose a new password to finish signing in.</p>
            <div class="row">
               <div class="col-12 col-sm-12 col-md-3">
                  <label class="form-label">New password</label>
               </div>
               <div class="col-12 col-sm-12 col-md-6">
                  <input type="password" class="rounded-input">
                   <p class="form-error-msj form-error-msj-bottom is--hide">Error aqui</p>
               </div>
            </div>
            <div class="row">
               <div class="col-12 col-sm-12 col-md-3">
                  <label class="form-label has-error">Re-enter new password</label>
               </div>
               <div class="col-12 col-sm-12 col-md-6">
                  <input type="password" class="rounded-input has-error">
                   <p class="form-error-msj form-error-msj-bottom">Error aqui</p>
               </div>
            </div>
            <div class="row login-btn-content">
               <div class="col-12 col-sm-12 col-md-6 offset-md-3  is-align-right">
                  <button type="button" class="btn-rounded btn-rounded-primary">CHANGE PASSWORD</button>
               </div>
            </div> 
         </div>
      </div>
   </form>
</div>       
         



<!-- Optional JavaScript --> 
<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script> 
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.3/umd/popper.min.js" integrity="sha384-vFJXuSJphROIrBnz7yo7oB41mKfc8JzQZiCq4NCceLEaO4IHwicKwpJf9c9IpFgh" crossorigin="anonymous"></script> 
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/js/bootstrap.min.js" integrity="sha384-alpBpkh1PFOepccYVYDB4do5UnbKysX5WZXm3XxPqe5iKTfUKjNkCk9SaVuEZflJ" crossorigin="anonymous"></script>



</body>
</html>