<!doctype html>
<html>
<head>
   <title>New Lecture</title>
   <meta charset="utf-8">
   <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
   <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
   <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/css/bootstrap.min.css">
   <link rel="stylesheet" href="../css/styles.css">
</head>
<body>
<div class="wrapper new-lecture">
   <div class="header">
      <nav class="navbar">
         <div class="inner-wrapper">
            <div class="container-fluid">
               <div class="row">
                  <div class="col-6 col-sm-6 col-md-3 navbar--logoBox">
                     <a href="#">
                        <span class="logo-content"><img src="../img/logo.svg" alt=""></span>
                        <p>Teacher <span>Dashboard</span></p>
                     </a>
                  </div>
               </div>
            </div>
         </div> 
      </nav>
   </div>
   <div class="content login-content">
      <div class="inner-wrapper">
         <h3 class="success-msj-text">Your password reset email has been sent!</h3>
         <p class="login-section-sub-title">Please check your inbox to continue.</p>
         <br><br><br>
         <h3 class="error-msj-text">Ups! Your password reset email has not been sent!</h3>
         <p class="login-section-sub-title">Try zxcasdasd asdasd asdasd asdasdasd</p>
         
      </div>
   </div>
</div>       
         



<!-- Optional JavaScript --> 
<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script> 
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.3/umd/popper.min.js" integrity="sha384-vFJXuSJphROIrBnz7yo7oB41mKfc8JzQZiCq4NCceLEaO4IHwicKwpJf9c9IpFgh" crossorigin="anonymous"></script> 
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/js/bootstrap.min.js" integrity="sha384-alpBpkh1PFOepccYVYDB4do5UnbKysX5WZXm3XxPqe5iKTfUKjNkCk9SaVuEZflJ" crossorigin="anonymous"></script>



</body>
</html>