<!doctype html>
<html>
<head>
   <title>Teacher Dashboard Alalytics</title>
   <meta charset="utf-8">
   <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
   <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
   <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/css/bootstrap.min.css">
   <link rel="stylesheet" href="../css/styles.css">
</head>
<body>
<div class="wrapper analytic-dashboard">
   <div class="header">
      <nav class="navbar">
         <div class="inner-wrapper">
            <div class="row">
               <div class="col-6 col-sm-6 col-md-3 navbar--logoBox">
                  <a href="#">
                     <span class="logo-content"><img src="../img/logo.svg" alt=""></span>
                     <p>Teacher <span>Dashboard</span></p>
                  </a>
               </div>
               <div class="col-6 col-sm-6 col-md-3 col-sm-push-6 navbar--userBox">
                  <p class="navbar--userBox-name">Nombre Apellido Nombre Apellido</p>
                  <img class="navbar--userBox-img" src="http://via.placeholder.com/45x45" alt="">
               </div>
               <div class="col-12 col-sm-12 col-md-6 col-sm-pull-3 navbar--searchBox">
                  <form>
                     <div class="navbar--searchBox-content">
                        <input type="text" class="nav-searchBox--input">
                        <button type="submit" class="nav-searchBox--iconSearch"><i class="material-icons">search</i></button>
                        <button type="reset" class="nav-searchBox--iconClose is--hide"><i class="material-icons">close</i></button>
                     </div>
                  </form>
               </div>
            </div>
         </div> 
      </nav>
   </div>

   <div class="content">
      <div class="grey-box">
         <div class="inner-wrapper">
            <div class="container-fluid">
               <div class="row lecture-result-couse-section">
                  <div class="col-12 col-md-5 lecture-result-couse-section-img">
                     <a class="courseDetail--video" href="#">
                        <span class="icon-play"><i class="material-icons">play_arrow</i></span>
                        <img src="http://via.placeholder.com/328x200"  alt="">
                     </a>
                     <div class="courseDetail--video-bottom">
                                 <div class="courseBox--calification">
                                    <i class="material-icons start-icon--on">grade</i>
                                    <i class="material-icons start-icon--on">grade</i>
                                    <i class="material-icons start-icon--on">grade</i>
                                    <i class="material-icons start-icon--on">grade</i>
                                    <i class="material-icons start-icon--off">grade</i>
                                 </div>
                                 </div>
                  </div>
                  <div class="col-12 col-md-7">
                     <h1 class="courseDetail--title">Cataract Surgery: Uveitis</h1>
                     <h2 class="courseDetail--subtitle">Perioperative management of complex phacoemulsification</h2>
                     <p class="courseDetail--keyWords"><a href="#">veitis</a>, <a href="#">Synechiae</a>, <a href="#">Synechieolysis</a>, <a href="#">Pupillary Membrane</a>, <a href="#">Phacoemulsification</a>, <a href="#">Cataract Surgery</a>, <a href="#">Iris hooks</a>, <a href="#">Capsular Tension Rings</a></p>
                     <p class="courseDetail--author"><strong>Author:</strong> Dr. Anurag Shrivastava, MD</p>
                     <p class="courseDetail--section"><span><strong>Section:</strong> Lens Cataract</span><span><strong>Subsection:</strong> Surgical Management</span></p>
                  </div>
               </div>
            </div>
         </div>
      </div>

      <div class="inner-wrapper analytic-dashboard-content">
         <div class="container-fluid">
            
            <div class="row">
               <div class="col-12 col-sm-4 col-md-4">
                  <div class="analytics-box">
                     <h6 class="analytics-title">AVERAGE TIME SPENT ON LECTURE (MIN)</h6>
                     <strong class="analytics-data">15:08</strong>
                  </div>
               </div>
               <div class="col-12 col-sm-4 col-md-4">
                  <div class="analytics-box">
                     <h6 class="analytics-title">COMPLETE VIEWS</h6>
                     <strong class="analytics-data">13</strong>
                  </div>
               </div>
               <div class="col-12 col-sm-4 col-md-4">
                  <div class="analytics-box">
                     <h6 class="analytics-title">COMPLETION RATE</h6>
                     <strong class="analytics-data">67%</strong>
                  </div>
               </div>
            </div>
            <div class="row">
               <div class="col-12 col-sm-12 col-md-12">
                  <div class="analytics-box">
                     <h6 class="analytics-title">OVERALL TEST PERFORMANCE</h6>
                     <div class="test-question-result-content overall-result-content">
                                          
                                          <div class="test-question-result">
                                             <label>Pre Test</label>
                                             <div class="result-graphic-content">
                                                <ul class="result-graphic">
                                                   <li class="result-graphic-ok" style="width: 43%" title="A - 43%"><span>A - 43%</span></li>
                                                   <li style="width: 12%" title="B - 12%"><span>B - 12%</span></li>
                                                   <li style="width: 27%" title="C - 27%"><span>C - 27%</span></li>
                                                   <li style="width: 18%" title="D - 18%"><span>D - 18%</span></li>
                                                </ul>
                                             </div>
                                          </div>
                                          <div class="test-question-result">
                                             <label>Post Test</label>
                                             <div class="result-graphic-content">
                                                <ul class="result-graphic">
                                                   <li class="result-graphic-ok" style="width: 72%" title="A - 72%"><span>A - 72%</li>
                                                   <li style="width: 8%" title="B - 8%"><span>B - 8%</span></li>
                                                   <li style="width: 8%" title="C - 8%"><span>C - 8%</span></li>
                                                   <li style="width: 12%" title="D - 12%"><span>D - 12%</span></li>
                                                </ul>
                                             </div>
                                          </div>

                                       </div>
                  </div>

               </div>
            </div>

            <div class="row">
               <div class="col-12 col-sm-12 col-md-12">
                  <div class="collapse-Box">
                     <a class="btn btn-transparent collapse-Box--title collapsed" data-toggle="collapse" href="#testPerformance" aria-expanded="true" >TEST PERFORMANCE <i class="material-icons">arrow_drop_down</i></a>
                     <div class="collapse" id="testPerformance" >
                        <div class="collapse-Box--content">
                           <ol class="test-performance-question-list">
                              
                              <li>
                                 <a class="btn btn-transparent test-performance-question--title collapsed" data-toggle="collapse" href="#question-1" aria-expanded="true" >Optimally, at least how long should a uveitic patient be stable without active inflammation prior to performing cataract extraction? <i class="material-icons">arrow_drop_down</i></a>
                                 <div class="collapse" id="question-1">
                                    <ul class="test-performance-question--options">
                                       <li class="test-performance-question-ok">1 Year</li>
                                       <li>6 Months</li>
                                       <li>3 Month</li>
                                       <li>1 Month</li>
                                       <li>1 Week</li>
                                    </ul>
                                    <div class="test-performance-question-result-content">
                                       <div class="test-question-result">
                                          <label>Pre Test</label>
                                          <div class="result-graphic-content">
                                             <ul class="result-graphic">
                                                <li class="result-graphic-ok" style="width: 43%"" title="A - 43%"><span>A - 43%</span></li>
                                                <li style="width: 12%" title="B - 12%"><span>B - 12%</span></li>
                                                <li style="width: 27%" title="B - 27%"><span>C - 27%</span></li>
                                                <li style="width: 18%" title="B - 18%"><span>D - 18%</span></li>
                                             </ul>
                                          </div>
                                       </div>
                                       <div class="test-question-result">
                                          <label>Post Test</label>
                                          <div class="result-graphic-content">
                                             <ul class="result-graphic">
                                                <li class="result-graphic-ok" style="width: 72%" title="A - 72%"><span>A - 72%</li>
                                                <li style="width: 8%" title="B - 8%"><span>B - 8%</span></li>
                                                <li style="width: 8%" title="C - 8%"><span>C - 8%</span></li>
                                                <li style="width: 12%" title="D - 12%"><span>D - 12%</span></li>
                                             </ul>
                                          </div>
                                       </div>
                                    </div>
                                 </div>
                              </li>

                              <li>
                                 <a class="btn btn-transparent test-performance-question--title collapsed" data-toggle="collapse" href="#question-2" aria-expanded="true" >Which of the following instruments is best suited for pupil expansion in patients with synechiae to the anterior lens capsule? <i class="material-icons">arrow_drop_down</i></a>
                                 <div class="collapse" id="question-2">
                                    <ul class="test-performance-question--options">
                                       <li class="test-performance-question-ok">1 Year</li>
                                       <li>6 Months</li>
                                       <li>3 Month</li>
                                       <li>1 Month</li>
                                    </ul>
                                    <div class="test-performance-question-result-content">
                                       <div class="test-question-result">
                                          <label>Pre Test</label>
                                          <div class="result-graphic-content">
                                             <ul class="result-graphic">
                                                <li class="result-graphic-ok" style="width: 25%" title="A - 25%"><span>A - 25%</span></li>
                                                <li style="width: 25%" title="B - 25%"><span>B - 25%</span></li>
                                                <li style="width: 25%" title="C - 25%"><span>C - 25%</span></li>
                                                <li style="width: 25%" title="D - 25%"><span>D - 25%</span></li>
                                             </ul>
                                          </div>
                                       </div>
                                       <div class="test-question-result">
                                          <label>Post Test</label>
                                          <div class="result-graphic-content">
                                             <ul class="result-graphic">
                                                <li class="result-graphic-ok" style="width: 25%" title="A - 25%"><span>A - 25%</span></li>
                                                <li style="width: 25%" title="B - 25%"><span>B - 25%</span></li>
                                                <li style="width: 25%" title="C - 25%"><span>C - 25%</span></li>
                                                <li style="width: 25%" title="D - 25%"><span>D - 25%</span></li>
                                             </ul>
                                          </div>
                                       </div>
                                    </div>
                                 </div>
                              </li>

                              <li>
                                 <a class="btn btn-transparent test-performance-question--title collapsed" data-toggle="collapse" href="#question-3" aria-expanded="true" >How long is optimal for a surgeon to wait prior to performing cataracts extraction? <i class="material-icons">arrow_drop_down</i></a>
                                 <div class="collapse" id="question-3">
                                    <ul class="test-performance-question--options">
                                       <li class="test-performance-question-ok">1 Year</li>
                                       <li>6 Months</li>
                                       <li>3 Month</li>
                                       <li>1 Month</li>
                                    </ul>
                                    <div class="test-performance-question-result-content">
                                       <div class="test-question-result">
                                          <label>Pre Test</label>
                                          <div class="result-graphic-content">
                                             <ul class="result-graphic">
                                                <li class="result-graphic-ok" style="width: 99%" title="A - 99%"><span>A - 99%</span></li>
                                                <li style="width: 1%" title="B - 1%"><span>B - 1%</span></li>
                                                <li style="width: 0%" title="C - 0%"><span>C - 0%</span></li>
                                                <li style="width: 0%" title="D - 0%"><span>D - 0%</span></li>
                                             </ul>
                                          </div>
                                       </div>
                                       <div class="test-question-result">
                                          <label>Post Test</label>
                                          <div class="result-graphic-content">
                                             <ul class="result-graphic">
                                                <li class="result-graphic-ok" style="width: 100%"  title="A - 100%"><span>A - 100%</span></li>
                                                <li style="width: 0%" title="B - 0%"><span>B - 0%</span></li>
                                                <li style="width: 0%" title="C - 0%"><span>C - 0%</span></li>
                                                <li style="width: 0%" title="D - 0%"><span>D - 0%</span></li>
                                             </ul>
                                          </div>
                                       </div>
                                    </div>
                                 </div>
                              </li>



                           </ol>
                        </div>
                     </div>
                  </div> 
               </div>
            </div>

            <div class="row">
               <div class="col-12 col-sm-12 col-md-12">
                  <div class="collapse-Box">
                     <a class="btn btn-transparent collapse-Box--title collapsed" data-toggle="collapse" href="#studentsFeedback" aria-expanded="true" >STUDENTS FEEDBACK <i class="material-icons">arrow_drop_down</i></a>
                     <div class="collapse" id="studentsFeedback">
                        <div class="collapse-Box--content collapse-Box--content-gray">
                           <ul class="studentsFeedback-list">
                              <li>
                                 <p>Very good presentation</p>
                                 <div class="courseBox--calification">
                                    <i class="material-icons start-icon--on">grade</i>
                                    <i class="material-icons start-icon--on">grade</i>
                                    <i class="material-icons start-icon--on">grade</i>
                                    <i class="material-icons start-icon--on">grade</i>
                                    <i class="material-icons start-icon--off">grade</i>
                                 </div>
                              </li>
                              <li>
                                 <p>Good questions. I would like to have more information on surgical strategy.Good questions. I would like to have more information on surgical strategy.Good questions. I would like to have more information on surgical strategy.</p>
                                 <div class="courseBox--calification">
                                    <i class="material-icons start-icon--on">grade</i>
                                    <i class="material-icons start-icon--on">grade</i>
                                    <i class="material-icons start-icon--on">grade</i>
                                    <i class="material-icons start-icon--on">grade</i>
                                    <i class="material-icons start-icon--off">grade</i>
                                 </div>
                              </li>
                              <li>
                                 <p>Very useful lecture, great explanations of questions</p>
                                 <div class="courseBox--calification">
                                    <i class="material-icons start-icon--on">grade</i>
                                    <i class="material-icons start-icon--on">grade</i>
                                    <i class="material-icons start-icon--on">grade</i>
                                    <i class="material-icons start-icon--on">grade</i>
                                    <i class="material-icons start-icon--off">grade</i>
                                 </div>
                              </li>
                           </ul>
                        </div>
                     </div>
                  </div> 
               </div>
            </div>

            <div class="row">
               <div class="col-12 col-sm-12 col-md-12">
                  <div class="collapse-Box">
                     <a class="btn btn-transparent collapse-Box--title collapsed" data-toggle="collapse" href="#report" aria-expanded="true" >REPORT <i class="material-icons">arrow_drop_down</i></a>
                     <div class="collapse" id="report">
                        <div class="collapse-Box--content collapse-Box--content-gray">
                           <ul>
                              <li>Slide X - Link  XXXXX is reported as broken - Fix</li>
                              <li>Good questions. I would like to have more information on surgical strategy.Good questions. I would like to have more information on surgical strategy.Good questions. I would like to have more information on surgical strategy.</li>
                           </ul>
                        </div>
                     </div>
                  </div> 
               </div>
            </div>




                    
         </div>
      </div>
      
      <div class="course-footer">
         <button type="button" class="btn-rounded btn-back">RETURN</button>
         <button type="button" class="btn-rounded ">EDIT LECTURE</button>
      </div>
</div>       
         


     
   




<!-- Optional JavaScript --> 
<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script> 
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.3/umd/popper.min.js" integrity="sha384-vFJXuSJphROIrBnz7yo7oB41mKfc8JzQZiCq4NCceLEaO4IHwicKwpJf9c9IpFgh" crossorigin="anonymous"></script> 
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/js/bootstrap.min.js" integrity="sha384-alpBpkh1PFOepccYVYDB4do5UnbKysX5WZXm3XxPqe5iKTfUKjNkCk9SaVuEZflJ" crossorigin="anonymous"></script>


<script>

   $(".nav-searchBox--input").focus(function() {
      $(".nav-searchBox--iconClose").removeClass("is--hide");
      $(".nav-searchBox--iconSearch").addClass("is--hide");
   }).blur(function() {
      $(".nav-searchBox--iconClose").addClass("is--hide");
      $(".nav-searchBox--iconSearch").removeClass("is--hide");
      $(this).val("");
   });


</script>

</body>
</html>