body, html {
   min-width:320px;
   font-family: Roboto, sans-serif;
   -ms-text-size-adjust: 100%;
   -webkit-text-size-adjust: 100%;
   padding: 0;
   margin: 0;
   
}
//Extra small viewport or screen
@media (min-width: 320px) { 
   body,html { font-size: 13px; background-color: yellow} 
}

// Small viewport or screen
@media (min-width: 576px) { 
   body,html { font-size: 14px; background-color: red} 
}

// Medium devices (tablets, 768px and up)
@media (min-width: 768px) { 
   body,html { font-size: 15px; background-color: blue}
}

// Large devices (desktops, 992px and up)
@media (min-width: 992px) { 
   body,html { font-size: 16px;background-color: green} 
}

// Extra large devices (large desktops, 1200px and up)
@media (min-width: 1200px) { 
   body ,html{ font-size: 16px;background-color: pink}
}




a {
   color: #2F80ED;
   &:hover {
      text-decoration: underline;
   }
}	

.btn.focus, .btn:focus, input {
   box-shadow: none!important;
   outline: none!important;
}

.btn-transparent {
   background-color: transparent;
   font-size: 1rem;
}

.inner-wrapper {
   max-width: 1320px;
   margin:  0 auto;
   padding:  0 1.25rem;
   width: 100%;
}



