body, html {
   min-width:320px;
   font-family: Roboto, sans-serif;
   -ms-text-size-adjust: 100%;
   -webkit-text-size-adjust: 100%;
   padding: 0;
   margin: 0;
   
}
//Extra small viewport or screen
@media (min-width: 320px) { 
   body,html { font-size: 15px; 
      //background-color: yellow
   }
   .inner-wrapper { padding: 0 0.3125rem}
}

// Small viewport or screen
@media (min-width: 576px) { 
   body,html { font-size: 15px; 
     // background-color: red
   }
   .inner-wrapper { padding:  0 0.9375rem;}
}

// Medium devices (tablets, 768px and up)
@media (min-width: 768px) { 
   body,html { font-size: 15px; 
      //background-color: blue
   }
   .inner-wrapper { padding:  0 1.25rem;}
}

// Large devices (desktops, 992px and up)
@media (min-width: 992px) { 
   body,html { font-size: 16px;
      //background-color: green
   } 

}

// Extra large devices (large desktops, 1200px and up)
@media (min-width: 1200px) { 
   body ,html{ font-size: 16px;
      //background-color: pink
   }
}




a {
   color: #2F80ED;
   &:hover {
      text-decoration: underline;
   }
}	

.btn.focus, .btn:focus, input {
   box-shadow: none!important;
   outline: none!important;
}

.btn-transparent {
   background-color: transparent;
   font-size: 1rem;
}


.btn-rounded {
   border: 1px solid #2F80ED;
   border-radius: 20px;
   line-height: 40px;
   padding: 0 20px;
   display: inline-block;
   &:hover {
      text-decoration: none;
   }
}


.inner-wrapper {
   max-width: 1320px;
   margin:  0 auto;
   
   width: 100%;
}

.grey-box {
   
}
.is--hide { display: none !important}
.is--center {text-align: center;}


