body, html {
   min-width:320px;
   font-family: Roboto, sans-serif;
   -ms-text-size-adjust: 100%;
   -webkit-text-size-adjust: 100%;
   padding: 0;
   margin: 0;
   height: 100%; 
   overflow-x: hidden; 
}
//Extra small viewport or screen
@media (min-width: 0px) { 
   body,html { 
      font-size: 14px; 
   }
   .inner-wrapper { padding: 0 0.3125rem}
}

// Small viewport or screen
@media (min-width: 576px) { 
   body,html { 
      font-size: 15px; 
   }
   .inner-wrapper { padding:  0 0.9375rem;}
}

// Medium devices (tablets, 768px and up)
@media (min-width: 768px) { 
   body,html { font-size: 15px; 
   }
   .inner-wrapper { padding:  0 1.25rem;}
}

// Large devices (desktops, 992px and up)
@media (min-width: 992px) { 
   body,html { font-size: 16px;
   } 

}

// Extra large devices (large desktops, 1200px and up)
@media (min-width: 1200px) { 
   body ,html{ font-size: 16px;
      //background-color: pink
   }
}

.inner-wrapper-970 {
   .inner-wrapper {
      max-width: 970px;
   }
}


a {
   color: #2F80ED;
   &:hover {
      text-decoration: none;
   }
}	

* {outline: none;}
.btn.focus, .btn:focus, input, *:focus {
   box-shadow: none!important;
   outline: none!important;
}

.btn-transparent {
   background-color: transparent;
   font-size: 1rem;
   border-color: transparent;
   text-decoration: none ;

   &:hover {
      text-decoration: none ;
   }
}


.btn-rounded {
   border: 1px solid #2F80ED;
   border-radius: 20px;
   line-height: 40px;
   padding: 0 20px;
   display: inline-block;
   color: #2F80ED;
   cursor: pointer;
   background-color: transparent;
   text-align: center;
   &:hover {
      text-decoration: none;
   }

   @media (max-width: 768px) {
      padding: 0 12px;
   }

   &[disabled="disabled"] {
      cursor: default;
      opacity: 0.25;
   }
}

.btn-rounded-flat {
   line-height: 30px;
}

.btn-rounded-primary {
   background-color: #2F80ED;
   color: #FFF;

   &:hover {
      color: #FFF;
   }
}

.btn-text-only {
   color: #2F80ED;
   display: inline-block;
   line-height:  2.25rem;
   font-weight: bold;
   font-size:  0.875rem;
   cursor: pointer;
}


.inner-wrapper {
   max-width: 1320px;
   margin:  0 auto;
   
   width: 100%;
}

.grey-box {
   background-color: rgba(47, 128, 237, 0.1);
}

.drag-zone {
   border-radius: 20px;
   border: 1px solid #BDBDBD;
   padding: 45px 30px;
   text-align: center;
   color: #828282;
   font-size: 1.375rem;
   margin: 10px auto;
   width: 80%;

   @media (max-width: 768px) {
      width: 100%;
   }

   p {
      margin: 0;
   }
}

.is--hide { display: none !important}
.is--center {text-align: center;}


.steps {
   text-align: center;
   margin: 70px auto 60px auto;
   padding: 0;
   width: 100%;
   max-width: 738px;
   overflow: auto;

   @media (max-width: 768px) {
      margin: 50px auto 40px auto;
   }

   li {
      display: inline-block;
      width: 33.3%;
      float: left;
      position: relative;

      &:not(:last-child):after{
         content: "";
         border-bottom: 1px solid #BDBDBD;
         position: absolute;
         left: calc(50% + 20px);
         width: calc(100% - 35px);
         top: 20px;
         z-index: 2;
      }


      a, a:hover {
         text-decoration: none;
      }

      .steps-number {
         border-radius: 100%;
         line-height: 40px;
         width: 40px;
         height: 40px;
         display: inline-block;
         font-size: 1.25rem;
         background-color: #FFF;
         position: relative;
         z-index: 4;
      }

      .steps-text {
         font-size: 1rem;
         display: block;
         line-height: 1.875rem;
      }

      &.steps--is-disabled {
         .steps-number {
            border: 1px solid #BDBDBD;
            color: #BDBDBD;
         }
         .steps-text  {
            color: #BDBDBD;
         }
      }

      &.steps--is-active {
         font-weight: bold;
         .steps-number {
            border: 1px solid #2F80ED;
            color: #2F80ED;
         }
         .steps-text  {
            color: #2F80ED;
         }
      }
      &.steps--is-complete {
         .steps-number {
            border: 1px solid #2F80ED;
            color: #FFF;
            background-color: #2F80ED;
            font-weight: bold;
         }
         .steps-text  {
            color: #BDBDBD;
         }
      }
   }
}

.rounded-input,
.select-content,
.rounded-textarea {
   border: 1px solid #BDBDBD;
   border-radius: 20px;
   padding: 10px 20px;
   margin:  10px 0;

   @media all and (max-width: 767px) {
      margin:  5px 0;
   }

   &.has-error {
      border-color: #FF0000;
   }

   &.file-input-content {
      padding: 7px 20px; 
   }
}

.select-content {
   padding: 10px;
}
.rounded-input,
.rounded-select,
.rounded-textarea {
   font-size: 0.75rem;
   color: #828282;
   background-color: #FFF;
   width: 100%;
   @media all and (max-width: 767px) {
      font-size: 0.8125rem;
   }
}

.rounded-select {
   border: none;
   display: block;
   width: 100%;
   box-shadow: none;

}

.rounded-textarea {
   height: 140px;
}

.form-label {
   display: block;
   text-align: right;
   font-size: 1rem;
   color: #4F4F4F;
   margin: 0;
   font-weight: 400;
   margin:  20px 0 10px 0;

   @media all and (max-width: 767px) {
      text-align: left;
      margin:  20px 0 0 0;
   }

   &.has-error {
      color: #FF0000;
   }
}

.form-error-msj {
   color: #828282;
   font-size: 0.875rem;
   margin:  10px 0;

   @media all and (max-width: 767px) {
      margin:  0;
   }

   &.form-error-msj-bottom {
      margin-top: 0;
   }
}


// SWITCH BNS
.switch-row {
   padding: 5px 0 5px 30px;

   > label {
      color: #4F4F4F;
      font-size: 1rem;
   }

   &:last-child {
      margin-bottom: 30px;
   }
}


.btn-switch {
   display: inline-block;
   float: right;
}

input[type=checkbox].switch{
   height: 0;
   width: 0;
   visibility: hidden;
   position: absolute;
}

label.switch {
   cursor: pointer;
   text-indent: -9999px;
   width: 65px;
   height: 32px;
   background-color: #F2F2F2;
   border: 1px solid #E0E0E0;
   display: block;
   border-radius: 100px;
   position: relative;
   margin: 0;

   &:after {
      content: '';
      position: absolute;
      top: 3px;
      left: 5px;
      width: 24px;
      height: 24px;
      background: #fff;
      border-radius: 90px;
      transition: 0.3s;
   }
}

input.switch:checked + label {
   background: #f0869f;
   border:1px solid #ed496d;

   &:after {
      left: calc(100% - 28px);
   }
}

.dropdown-toggle {
   cursor: pointer;
}


.loading-backdrop {
   background-color: #FFF;
   opacity: 0;
   position: fixed;
   top: 0;
   left: 0;
   bottom: 0;
   right: 0;
   z-index: 1050;
   transition: opacity .15s linear;
   visibility: hidden;
   display: none;

   .spinner {
      position: absolute;
      top: 50%;
      left: 50%;
      margin: -25px 0 0 -25px;
   }
}

.loading-backdrop.show {
   opacity: .8;
   visibility: visible;
   display: block;
}

@media all and (min-width: 769px) {
   .is-hide-desktop {
      display: none !important;
   }
}

