
.course-body {
   padding: 0;
   min-height: calc(100% - 160px);

   .inner-wrapper {
      max-width: 800px;
   }
}

.course-footer {
   display: block;
   border-top: none;
   padding: 15px;
   background-color: #F8F8F8;
   text-align: right;

   .btn-back {
      float: left;
      background-color: transparent;
   }

   .btn-next {
      width: 210px;
      @media all and (max-width: 767px) {
         width: 190px;
      }
   }
}
      

