.director--student-detail-content {
	max-width: 970px;
	margin:  0 auto;

	.score-box-content {
		margin: 0;
	}
}

.table-tr {
	background-color: #FAF9F9;
	margin-bottom: 1px;
	padding-top: 15px;
	padding-bottom: 15px;

	label {
		margin-bottom: 0;
	}

	&:hover {
		background-color: #F4F4F4;
	}
}

.td-date {
	color: #828282;
	font-size: 1rem;
}



.td-gray {
color: #828282
}

.td-red {
	color: #EB5757;
}

.td-green {
	color: #27AE60;
}

.td-orange {
	color: #F2994A;
}

.td-blue,
.td-blue * {
	color: #2F80ED;
}

.td-ellipsis {
	white-space: nowrap;
	text-overflow:ellipsis;
	overflow: hidden;
	max-width: 100%;
}

.section-title {
	color: #333333;
	font-size:  1.875rem;
	margin: 4.375rem 0 1rem 0;
	a {
		font-size: 1rem;
		margin-left: 10px;
	}
}

@media (max-width: 768px) {
.hide-in-mobile {
	display: none;
}
}



.box-user-detail-info {
	padding: 50px 0 0 0;
	@media (max-width: 768px) {
		text-align: center;
	}

	.box-user-detail-info-img-content {
		display: inline-block;
		margin-right: 38px;
		vertical-align: top;

		@media (max-width: 768px) { 
			display: block;
			margin:  0 auto 30px auto;
		}

		img {
	    	max-width: 100%;
	    	margin: 0 auto;
	    	border-radius: 20px;
		}

	}

	.box-user-detail-info-text-content {
		display: inline-block;
		vertical-align: top;

	}

	
	.box-user-detail-info--rank {
		color: #27AE60;
		font-size: 1rem;
		margin-bottom: 5px;
	}

	.box-user-detail-info--name {
		font-size: 1.875em;
		color: #333333;
		margin-bottom: 15px;
	}

	.box-user-detail-info--data {
		color: #828282;
		list-style: none;
		margin: 0;
		padding: 0;
		li {
			line-height: 1.5625em;
		}

	}

	.btn-rounded {
		width: 163px;
		margin: 5px 0;
		float: right;

		@media (max-width: 768px) { 
			float: none;
			margin: 20px 5px 0 5px;
			width: auto;}
	}


}


.grey-box-top {
	    padding: 50px 0 10px 0;
}

.td-buttons-content {
	text-align: center;
	padding: 30px 0 0 0;

	.btn-rounded {
		margin:  5px 10px;
	}
}

.is-align-right {
	text-align: right;
}

.check-list-assing {
	padding-top: 4vw;

	label {
		line-height: 60px;
		display: inline-block;
		margin-right: -15px;
		margin-bottom: 0;

		
	}

	input[type=checkbox]{
		height: 60px;

	}

@media (max-width: 575px) {
			.assign-individual {
			text-align: left !important;}
		}
}
>>>>>>> develop


