//FILTROS

.filter-section { 

   h3 {
      font-size: 1rem;
      color: #828282;
      font-weight: bold;
      line-height: 1.1875rem;
      margin-top:10px;

      &.filterBox--separated-title {
         margin-top: 60px;
      }
   }

   .hide-filters-mobile-btn {
      display: none;
   }

   .filterBox {
      background-color: #F2F2F2;
      border-radius: 10px;
      margin-bottom: 30px;

      .btn {
         display: block;
         text-align: left;
         position: relative;
         color: #333;
         border-top:1px solid #E0E0E0;
         line-height: 1.4em;
         border-radius: 0;
         white-space: normal;

         i {
            transform: rotate(180deg);
            position: absolute;
            right: 5px;
            top: 50%;
            color: #C4C4C4;
            margin-top: -12px;
         }

         &.collapsed i {
            transform: rotate(0deg);
         }
      }

      ul {
         list-style: none;
         padding: 0;
         margin-bottom: 0;

         li {
            &.is--selected, 
            &:hover {
               background-color: #EBEBEB;
            }

            a {
               color: #4F4F4F;
               font-size: 1rem;
               display: block;
               padding: 12px 15px 12px 0;
               border-top:1px solid #E0E0E0;
               line-height: 1.4em;

               &:hover{
                  text-decoration: none;
                  background-color: #EBEBEB;
               }
            }
         }
      }

      > .filterBox--firstLevel:first-child > .btn {
         border-top: 0;
      }

      .filterBox--level-selected {
         background-color: #E0E0E0;;
      }

      .filterBox--firstLevel {
         > .btn {
         font-size: 1.25rem;
         font-weight: bold;
         padding:  10px 35px 10px 15px;
         }

         li {
            padding-left: 30px;
         }
      }



      .filterBox--secondLevel{ 
         > .btn{
            font-size: 1.125rem;
            margin-left: 12%;
            padding:  12px 35px 12px 0;
         }
         li {
            padding-left: 60px;

         }   
      }

      &.filterBox--white {
         background-color: #FFF;
         .btn {
            color: #828282;
            font-size: 1rem;
            border-top: 0;
            padding: 10px 35px 10px 0px;
         }

         ul li:hover,
         ul li a:hover
          {
            background-color: #F9F9F9;
         }
      }
   }
}



.filters-actions {
   text-align: right;
   padding:5px 0 5px 0;

   a {
      display: inline-block;
      margin-left: 5%;
      font-size: 0.9375rem;
   }
}


 @media (max-width: 767px) {
   
   .show-filters-mobile-btn {
      display: inline-block;
   }

   .result-content-filters {
      position: static;
   }

   .filter-section { 
      display: none;
      position: absolute;
      top: 0;
      bottom: 0;
      left: 0;
      right: auto;
      padding: 0 15px 15px 15px;
      background-color: #FFF;
      overflow: auto;
      z-index: 3;
      opacity: 0;
      transition: all 1s ease-in-out;
  -webkit-transition: all 1s ease-in-out;
  -moz-transition: all 1s ease-in-out;
  -o-transition: all 1s ease-in-out;
  -ms-transition: all 1s ease-in-out;
  overflow: hidden;
  width: 0;

      &.filter-section--in {
         display: block;
         opacity: 1;
         right: 0;
         transition: all 1s ease-in-out;
  -webkit-transition: all 1s ease-in-out;
  -moz-transition: all 1s ease-in-out;
  -o-transition: all 1s ease-in-out;
  -ms-transition: all 1s ease-in-out;
  overflow:auto;
  width: 100%;


      }
  
      h3 {
         text-transform: uppercase;
         line-height: 45px;
         margin:0;

      }

      .hide-filters-mobile-btn {
         display: inline-block;

         i {width: 45px;
            line-height: 45px;
            vertical-align: middle;
         }
      }
   }


 }

