//HEADER

.header {
   .navbar {
      background-color: #333333;
      padding: 18px 0;
      border-radius: 0;
      margin-bottom: 0;

      @media (max-width: 767px) {
         padding:  15px 10px;
      }

      .navbar--logoBox{
         a {
            display: block;
            margin-right: 20px;
         }
      }

      .navbar--searchBox {
         text-align: center;
    
         .navbar--searchBox-content {
            display: inline-block;
            position: relative;
            margin: 2px auto;

            @media (max-width: 767px) {
               margin-top: 15px;
               display: block;
            }

            input{
               background-color: #5c5c5c;
               border-radius: 28px;
               height: 40px;
               width: 350px;
               border:0;
               padding: 0 15px;

               @media (max-width: 767px) {
                  width: 100%;
               }

               &:focus {
                  background-color: #d6d6d6;
               }
            }

            button {
               border:0;
               background-color: transparent;
               position: absolute;
               top: 0;
               display: inline-block;
               height: 40px;

              i {
                  line-height: 38px;
                  display: block;
                  padding: 0;
               }

               &.nav-searchBox--iconSearch {
                  top: 0;
                  left: 50%;
                  margin-left: -12px;
                
                  i {
                     color: #FFF;
                     font-size: 24px;
                  }
               }

               &.nav-searchBox--iconClose {
                  right: 5px;
               
                  i { 
                     color: #4F4F4F;
                     font-size: 18px;
                  }
               }
            }
         } 
      }

      .navbar--userBox {
         vertical-align: middle;
         text-align: right;

         .navbar--userBox-name {
            color: #FFF;
            font-size: 0.8125rem;
            vertical-align: middle;
            display: inline-block;
            width: calc(100% - 60px);
            margin: 0;
         }

         .navbar--userBox-img {
            border-radius: 50%;
            width: 45px;
            height: 45px;
            overflow: hidden;
            vertical-align: middle;
            margin-left: 6px;
            display: inline-block;
         }
      }
   }
}


//BARRA GRIS
.top-bar {
   background-color: #F2F2F2;
   -webkit-box-shadow: 0px 4px 4px 0px rgba(0,0,0,0.1);
   -moz-box-shadow: 0px 4px 4px 0px rgba(0,0,0,0.1);
   box-shadow: 0px 4px 4px 0px rgba(0,0,0,0.1);
   padding: 10px 0;
   text-align: center;
   @media (max-width: 767px) { 
      padding: 10px; }


   //ordenar por
   .filter--orderBy {
      float: left;
      line-height: 2.375rem;

      @media (max-width: 767px) { 
         width: 49%;
         padding-bottom: 10px;
         text-align: left;
      }

      .dropdown-toggle {
         font-weight: bold;
         color: #828282;
      }
   }

   //Mostrar filtros mobile
   .show-filters-mobile {
      display: none;

      @media (max-width: 767px) { 
         display: inline-block;
         width: 49%;
         text-align: right;
      }
      .show-filters-mobile-btn {
         font-weight: bold;
         color: #828282;
         display: inline-block;
         line-height: 32px;

         .material-icons {
            vertical-align: middle;
            display: inline-block;
         }
      }
      
   }

   // Tipo de curso
   .filter--courseType {
      @media (max-width: 767px) { 
         margin-top: 10px;
         padding-top: 10px;
         border-top: 1px solid #CCC;
         display: block;
         clear: both;
      }
   }
   
   .btn-group {  
      > .btn {
         color: #2F80ED;
         margin: 0 5px;
         border:1px solid transparent;
         border-radius: 20px;
         line-height: 2.375rem;
         padding:  0 15px;

         @media (max-width: 576px) {
            padding: 0 10px;
            font-size: 0.8125rem;
         }

         &:hover {
            border-color:#2F80ED;
         }
         &.active {
            border-color: #828282;
            color: #828282;
            font-weight: bold;
            box-shadow: none;
         }
         &:not(:first-child):not(:last-child):not(.dropdown-toggle) {
            border-radius: 20px;
         }
         &:first-child:not(:last-child):not(.dropdown-toggle) {
            border-top-right-radius: 20px;
            border-bottom-right-radius: 20px;
         }
         &:last-child:not(:first-child), .btn-group>.dropdown-toggle:not(:first-child) {
            border-top-left-radius: 20px;
            border-bottom-left-radius: 20px;
         }
      }
   }

   .btn-link {
      line-height: 40px;
      display: inline-block;

      &:hover {
         text-decoration: none;
      }

      &.btn-back {
         .material-icons {
            transform: rotate(90deg);
            display: inline-block;
            vertical-align: middle;
         }


      }

   }
}
