.modal-backdrop {
	background-color: #FFF;

	&.show {
    	opacity: .8;
   }
}


.modal-dialog {
	max-width: 780px;
	width: 95%;
}

.modal-body {
	padding: 30px;
	//min-height: 260px;
	@media (max-width: 768px) {
		min-height: 0px;
		padding: 10px 5px;
	}
}

.modal-header {
	border-bottom: none;
	padding: 30px 30px 0 30px;
	

	h5 {
		text-align: center;
		font-weight: 400;
		color: #4F4F4F;
		font-size: 1.5rem;
		width: 100%;
		@media (max-width: 768px) {
			font-size:1.25rem;
		}
	}
}


.modal-footer {
	text-align: center;
	border-top: none;
	display: block;
	padding-bottom: 40px;

	.btn-rounded {
		margin:  0 5%;
		min-width: 150px;

		@media (max-width: 768px) {
			min-width: 50px;
		}
	}
}

.modal-text {
	color: #4F4F4F;
	font-size: 1.5rem;
	margin: 0;
	text-align: center;
}


//ISSUES MODAL
.issues-list {
	width: 85%;
	margin: 30px auto;
	padding: 0 0 0 15px;
	@media (max-width: 576px) {
		width: 100%;
	}

	li {
		font-size: 0.875rem;
		text-align: left;
		margin: 5px 0;
	}
}