.lecture-result {

	.grey-box{
		margin-bottom: 40px;
	}
	
	.content .inner-wrapper {
		max-width: 940px;
		margin: 0 auto;
	}
	.lecture-result-couse-section {
		padding: 50px 0;

		@media (max-width: 767px) {
			padding: 30px 0;
		}

		.lecture-result-couse-section-img {
			text-align: center;
		}

		img {
			max-width: 100%;
			margin: 0 auto;
			border-radius: 20px;
		}
	}

	
.test-question {
			position: relative;
			padding: 15px 0 15px 25px;
			display: inline-block;
			cursor: pointer;
			color: #000;
			font-weight: 700;
			font-size:  1.125rem;
			@media (max-width: 767px) {
				font-weight: 400;
				font-size: 1rem;
			}

			i {
				left: -5px;
				top: 15px;
				position: absolute;
				color: #C4C4C4;
				transform: rotate(180deg);
				-webkit-transition: 0.25s ease-in-out;
    			-moz-transition: 0.25s ease-in-out;
    			-o-transition: 0.25s ease-in-out;
    			transition: 0.25s ease-in-out;
			}
		}
	.question-box {
		margin-bottom: 1px;
		position: relative;
		background-color: rgba(145, 185, 239, 0.15);

		

		.test-question-ok,
		.test-question-error {
			font-weight: 400;
			font-size: 1rem;
			padding: 15px 0;
			display: none;
			-webkit-transition: 0.5s ease-out;
 			-moz-transition: 0.5s ease-out;
 			-o-transition: 0.5s ease-out;
 			transition: 0.5s ease-out;
 			margin: 0;

 			@media (max-width: 767px) {
				display: block;
				text-align: right;
			}
		}
		.test-question-ok {
			color: #27AE60;
		}
		.test-question-error {
			color: #EB5757;
		}

		.tooltip-img {
			background-color: #FFF;
			padding: 15px;
			border-radius: 10px;
			position: absolute;
			box-shadow: 0 0 5px #CCC;
			top: -235px;
			left: 50%;
			transform: translateX(-50%);
			display: none;
			z-index: 2;

			&:before,
			&:after {
				width: 0; 
				height: 0; 
				position: absolute;
				left: 50%;
				content:" ";
			}

			&:after {
				bottom: -10px;
				margin-left: -5px;
				border-left: 10px solid transparent;
				border-right: 10px solid transparent;
				border-top: 10px solid #FFF;
			}

			&:before {
				bottom: -12px;
				margin-left: -7px;
				border-left: 12px solid transparent;
				border-right: 12px solid transparent;
				border-top: 12px solid #EEE;
			}
		}

		&.collapsed {
			background-color: #FAF9F9;
			&:hover {
				background-color: #F4F4F4;

				.tooltip-img {
					display: block;

					@media (max-width: 767px) {
						display: none;
					}
				}
			}

			.test-question {
				color: #2F80ED;
				font-weight: 400;
				font-size: 1rem;

				i {
					transform: rotate(0deg);
					-webkit-transition: 0.25s ease-in-out;
    				-moz-transition: 0.25s ease-in-out;
    				-o-transition: 0.25s ease-in-out;
    				transition: 0.25s ease-in-out;
				}
			}

			.test-question-ok,
			.test-question-error {
				display: block;
				-webkit-transition: 0.5s ease-in;
    			-moz-transition: 0.5s ease-in;
    			-o-transition: 0.5s ease-in;
    			transition: 0.5s ease-in;
			}
			.test-question-ok {
				color: #27AE60;
			}
			.test-question-error {
				color: #EB5757;
			}
		}

		.question-content {
			margin-left: 25px;
			padding-bottom: 30px;
			@media (max-width: 767px) {
			 	margin-left: 0px;
			 	margin-right: 0;
			}

			&.show {
				display: flex;
			}
		}



		.test-question-info {
			margin-bottom: 5px;
			background-color: rgba(145, 185, 239, 0.2);
			padding: 0 15px;

			@media (max-width: 767px) {
				padding: 15px;
			}

			.test-question-info-img,
			.test-question-info-text  {
				display: inline-block;
				width: 49%;
				vertical-align: top;
				padding: 30px 15px;

				@media (max-width: 767px) {
					width: 100%;
					padding:0;
				}
			}

			.test-question-info-img {
				text-align: center;
				img {
					width: 100%;
					max-width: 310px;
					margin-bottom: 10px;
				}
				a {
					font-size: 0.875rem;
				}
			}
			.test-question-info-text {
				p {
					font-size: 0.75rem;
					line-height: 1.313rem;
				}
			}
		}

		.response-list-content {
			clear:both;
		}

		.response-list {
			color: #666666;
			font-size: 0.75rem;
			line-height: 1.375rem;
			margin: 5px 0;
		}


		.response-ok-msj,
		.response-error-msj {
			font-size: 0.8125rem;
			font-weight: 600;
			padding-top: 5px;
			padding-bottom: 5px;
			margin: 5px 0;
			line-height: 1.375rem;
		}
		.response-ok-msj {
			color: #27AE60;
		}
		.response-error-msj {
			color: #EB5757
		}


		.response-ok,
		.response-error {
			padding-top: 5px;
			padding-bottom: 5px;
		}
		.response-ok {
			background-color: rgba(39, 174, 96, 0.2)
		}
		.response-error {
			background-color: rgba(235, 87, 87, 0.2);
		}
	}
}


.score-box-content {
		margin-top: 30px;
		margin-bottom: 10%;
		background-color: #FAF9F9;

		.question-content {
			margin-left: -15px;
		}

		.score-box {
			padding: 15px 25px;
		}

		.score-progress-bar {
			display: inline-block;
			vertical-align: middle;
			width: 160px;
			text-align: center;

			@media all and (max-width: 767px) {
				width: 100%;
			}

			.pie_progress {
				width: 160px;
				height: 160px;
				margin: 0 auto;
				position: relative;

				.pie_progress__number {
					font-size: 30px;
					color: #6FCF97;
					font-weight: 400;
					position: absolute;
    top: 50%;
    left: 0;
    width: 100%;
    -webkit-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);


				}
			}
		}

		.score-text {
			width: calc(100% - 165px);
			display: inline-block;
			vertical-align: middle;
			padding:  0 0 0 15px;
			@media all and (max-width: 767px) {
				width: 100%;
				text-align: center;
				margin-bottom: 20px;
			}

			h6 {
				font-size: 1.75rem;
				font-weight: 400;
				margin-bottom: 10px;
				@media all and (max-width: 767px) {
					margin-top: 15px;
				}
			}
			p {
				font-size: 1rem;
				color: #828282;
				line-height: 1.75rem;
				margin: 0;
			}
		}
	}

.order-row {
		margin-left: 0;
		margin-right: 0;
		white-space: nowrap;
		label {
			line-height: 50px;
			margin-bottom: 0;
		}

		@media (max-width: 767px) {
			[class^="col-"] {
				padding: 0;

				&:last-child {
					text-align: right;
				}
			}
		}
	}

	.btns-arrow-up-down {
		display: inline-block;
		width: 20px;
		vertical-align: middle;

		button {
			margin: 0;
			border: 0;
			width: 20px;
			height: auto;
			float: left;
			padding:0;
			background-color: #FFF;
			cursor: pointer;
			
			.material-icons {
				font-size: 16px;
				line-height: 10px;
				color: #BDBDBD;
				float: left;
			}
		}
	}
