.analytic-dashboard {

	.inner-wrapper {
		max-width: 1246px;
	}
	.grey-box {
		padding: 50px 0 10px 0;
		.inner-wrapper {
			max-width: 940px
		}
	}
}

.analytic-dashboard-content {
	padding: 90px 15px 0 15px;
}
.analytics-box {
	border-radius: 20px;
	border:1px solid #2F80ED;
	padding: 35px 0;
	margin-bottom: 30px;
}

.analytics-title {
	font-size: 1rem;
	color: #4F4F4F;
	text-align: center;
	font-weight: bold;
	min-height: 40px;
	margin: 0;
	padding: 0 20px;

	@media (max-width: 576px) {
		min-height: 0;
	}
}

.analytics-data {
	display: block;
	color: #4F4F4F;
	font-size: 3.375rem;
	text-align: center;
	margin: 15px 0 0 0;
	line-height: 3.938rem;
}

.collapse-Box {
	
	.collapse-Box--title {
		color: #4F4F4F;
		font-size: 1rem;
		padding: 10px 40px 10px 0;
		position: relative;

		i {
         transform: rotate(180deg);
         position: absolute;
         right: 5px;
         top: 50%;
         color: #4F4F4F;
         margin-top: -12px;
      }

      &.collapsed i {
         transform: rotate(0deg);
      }
	}

	.collapse-Box--content {
		margin-bottom: 30px;
		padding: 10px 30px;
		
	}

	.studentsFeedback-list {
		p {
			margin: 0;
			width: calc(100% - 140px);
			display: inline-block;

			@media (max-width: 576px) { 
				width: 100%;
			}
		}

		.courseBox--calification {
			display: inline-block;
			float: right;

			@media (max-width: 576px) { 
				display: block;
				float: none;
				margin: 5px 0 0 0;
			}

			i {
				line-height: 1.5rem
			}
			
		}
	}

	.collapse-Box--content-gray {
		background-color: #FAFAFA;
		min-height: 240px;
		padding: 30px;
		@media (max-width: 576px) {
			min-height: 0;
		}

		ul {
			list-style: none;
			padding: 0;
			margin: 0;

			li {
				padding: 0 0 18px 0;
				font-size: 1rem;
				line-height: 1.375rem;

				&:last-child {
					padding: 0;
				}
			}
		}
	}
}

.test-performance-question-list {
	padding: 0 0 0 20px;
	li {
		margin-bottom: 30px;
		&:last-child {
			margin-bottom: 0;
		}
	}

	.test-performance-question--title {
		white-space: normal;
		padding:  0 40px 0 0;
		position: relative;
		font-size: 1rem;
		color: #000;
		text-align: left;
		line-height: 1.5rem;
		vertical-align: top;

		i {
         transform: rotate(180deg);
         position: absolute;
         right: 5px;
         top: 0%;
         color: #4F4F4F;
      }

      &.collapsed i {
         transform: rotate(0deg);
      }
	}

	.test-performance-question--options {
		list-style:upper-latin;
		margin: 30px 0;

		li {
			margin-bottom: 30px;
		}

		.test-performance-question-ok {
			font-weight: bold;
		}
	}

	


}


.test-question-result {
		margin-bottom: 10px;
		label {
			display: inline-block;
			width: 80px;
			color: #404040;
			line-height:  1.375rem;
			vertical-align: middle;
			margin: 0;
				@media (max-width: 768px) {
				display: block;
				width: 100%;
				margin-bottom: 5px;
			}
		}

		.result-graphic-content {
			width: calc(100% - 85px);
			display: inline-block;
			vertical-align: middle;
			@media (max-width: 768px) {
				display: block;
				width: 100%;
			}
		}

		.result-graphic {
			padding: 0;
			border-radius: 5px;
			border:1px solid #5E5E5E;
			overflow: auto;
			list-style: none;
			margin: 0;


			li {
				float: left;
				background-color: #F05D5D;
				margin: 0;
				font-size: 1rem;
				color: #404040;
				overflow: hidden;
				box-shadow: -1px 0 0 #5E5E5E inset;

				@media (max-width: 768px) {
					//margin: 2px;
					box-shadow: none;
					float: none;
					overflow: visible;
					border-bottom: 1px solid #FFF;
				}

				&[style="width: 100%"] {
					box-shadow: none;
				}

				span {
					white-space: nowrap;
					padding: 0 5px;
					line-height: 25px;
					cursor: default;
				}


				&:last-child {
					border-right:none;
					@media (max-width: 768px) {
						border-bottom: none;
					}
				}

				&.result-graphic-ok {
					background-color: #72D67C;
				}
			}
		}
	} 


.test-performance-question-result-content {
	margin-bottom: 60px;
}

.overall-result-content {
	padding: 20px 40px 0 40px;
}