
//@import "./node_modules/bootstrap-sass/assets/stylesheets/bootstrap";
@import "partials/base";
@import "partials/header";
@import "partials/filtros";
@import "partials/listado";
@import "partials/loader";
@import "partials/detalle";
@import "partials/course-base";
@import "partials/student-test";
@import "partials/student-lecture-slide";
@import "partials/feedback";
@import "partials/student-lecture-result";

@import "partials/_teacher-list";
@import "partials/_teacher-newLecture-form";
@import "partials/_teacher-dashboard-analytics";
@import "partials/_upload";
@import "partials/_modals";

//gulp sass:watch