
@import "./node_modules/bootstrap-sass/assets/stylesheets/bootstrap";
@import "partials/base";
@import "partials/header";
@import "partials/filtros";
@import "partials/listado";
@import "partials/loader";
@import "partials/detalle";
@import "partials/course-base";
@import "partials/student-test";
@import "partials/student-lecture-slide";

//gulp sass:watch